[2017-12-15 10:19] bobylito opened #2630 "Pressing enter in a searchbox reloads the page"
Steps to reproduce:
 - go to
 - type something in the searchbar
 - press enter

Page is reloaded. The expected behavior is that the page should not be reloaded.

[2017-12-15 10:24] bobylito commented on #2630
Can't repro actually https://jsfiddle.net/bobylito/2dd9kw0t/

[2017-12-15 10:24] #2630 closed

[2017-12-15 10:48] Haroenv commented on #2630
This could happen if it's in a form and the js isn't loaded yet, but that is not the case here I think

[2017-12-15 15:39] bobylito commented on #2630
That's what happened that's why I couldn't reproduce with a simple is.js v2 example.

[2017-12-20 16:27] pixelastic opened #2631 "Links to repo of the v1 examples are broken"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
When going to https://community.algolia.com/instantsearch.js/v1/examples/, the links to the repo of each example are erroring with a 404:
- https://github.com/algolia/instantsearch.js/tree/master/docs/examples/media
- https://github.com/algolia/instantsearch.js/tree/master/docs/examples/e-commerce

[2017-12-20 16:48] Haroenv commented on #2631
Links should be `/maintenance`

e.g. https://github.com/algolia/instantsearch.js/tree/maintenance/docs/examples/media

[2017-12-21 09:29] vvo commented on #2631
Took me 1 min to fix those, next time do not hesitate to fix them right away

[2017-12-21 17:18] pixelastic commented on #2631
I could not find where the examples were located, sorry :(

[2017-12-22 06:10] debdeepsircar opened #2634 "I could not find what I was looking for"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is: -- PLEASE FILL IN HERE --

How to insert hierarchicalMenus into my Algolia index as well as facet settins?

An example is there , named 'ikea'.

Can I get ikea index data structure?

Thanks ,

DEBDEEP SIRCAR

[2017-12-22 07:14] debdeepsircar commented on #2634
plz anyone help me out

[2017-12-22 08:18] Haroenv commented on #2634
What have you tried? The explanation on the hierarchicalMenu page explains which data you should push

[2017-12-27 17:35] bobylito commented on #818
I've tried to implement this feature in InstantSearch but with the current implementation it's not very useful. You can see the [code / PoC in this PR](https://github.com/algolia/instantsearch.js/pull/2638).

[2017-12-27 19:29] sandycanonly opened #2639 "Sort order not working"
Override default sort order for facet values at query time is not working
[code]

[2017-12-28 08:41] bobylito commented on #818
@urbanitedesign @ethansmith Can you have a look at the demo in the PR and let me know if it was what you were looking for? I guess not but I could be wrong :)

[2017-12-28 08:48] bobylito commented on #1069
Connectors offers a complete control on the underlying component / rendering making all the features possible without cluttering the API with options that are rare. However we can consider options one by one to be added if they are really common (please open a new issue if so 🙏 )

[2017-12-28 08:48] #1069 closed

[2017-12-28 08:50] bobylito commented on #1069
In v2, [we have a widget for that](https://community.algolia.com/instantsearch.js/v2/widgets/rangeSlider.html)™️.

[2017-12-28 08:53] bobylito commented on #2639
Isn't that PHP @sandycanonly ? At least, it does not look like JavaScript. Are you sure you added the issue to the right project?

[2017-12-28 08:54] bobylito commented on #2634
Handled via gitter.

[2017-12-28 08:54] #2634 closed

[2017-12-28 08:56] bobylito commented on #2631
Fixed, thanks @vvo  👍

[2017-12-28 08:56] #2631 closed

[2017-12-28 09:06] bobylito commented on #2216
Work on this has started. I implemented a more complete solution. Everything is explained in [the PoC pull request](https://github.com/algolia/instantsearch.js/pull/2636).

[2017-12-28 09:19] bobylito commented on #1089
Closed in favor of #2216

[2017-12-28 09:19] #1089 closed

[2017-12-28 13:44] bobylito commented on #1285
A year later, we haven't moved on the subject. It's not a massive pain point for the moment and it would be a big change in the code base. Let's close this issue for the moment.

[2017-12-28 13:44] #1285 closed

[2017-12-28 14:22] bobylito commented on #1366
This should be solved with https://github.com/algolia/instantsearch.js/pull/2636 and #2216  (just a PoC for now)

[2017-12-28 14:22] #1366 closed

[2017-12-28 14:25] bobylito commented on #1298
With connectors you have a complete control over the rendering and you should be able to implement whatever you need. Can you open another issue if it's not enough?

[2017-12-28 14:25] #1298 closed

[2017-12-28 14:35] bobylito commented on #2605
I've just checked and actually there are some results but they have no title :/

[2017-12-28 15:18] bobylito commented on #1357
For now, default values should be added using `searchParameters` on the InstantSearch constructor. Values that can't be cleared should be implemented either using `filters` or implement a `searchFunction` that always add the value. There is more than one way to do that and it should be tailored on the usage, we should consider making that a guide.

[2017-12-28 15:18] #1357 closed

[2017-12-28 15:18] bobylito opened #2640 "[Meta] Add guides"
This issue reference all the missing guides of InstantSearch.js.

 - [ ] how to add default / unclearable search parameters (see #1357)
 - [x] using the URL Sync API (see #2636 and #2216, we should do it with the new API)
 - [x] how to use query rules with InstantSearch.js (see #2328)
 - [ ] how to manipulate the search parameters when not using widgets (see https://github.com/algolia/instantsearc

[2017-12-28 15:41] bobylito commented on #2080
Referenced in the meta issue for all guides :)

[2017-12-28 15:41] #2080 closed

[2017-12-28 15:55] bobylito commented on #1394
In v2, connectors let you recreate a complete rendering for widgets, therefore you can implement such behaviour. Closing for now, let me know if we can help. If you think it does not fit your usage, please  reopen an issue. Thanks 🙇

[2017-12-28 15:55] #1394 closed

[2017-12-28 15:57] bobylito commented on #1444
The proposed new API ([see PoC](https://github.com/algolia/instantsearch.js/pull/2636)) will let you do that pretty easily.

[2017-12-28 15:57] #1444 closed

[2017-12-28 16:05] bobylito commented on #2605
Fixed (docsearch config)

[2017-12-28 16:05] #2605 closed

[2017-12-28 16:15] bobylito commented on #1586
Actually right now errors are not part of the widgets lifecycle: I propose we move on with the event and drop the idea of the widget for the moment. Feel free to reopen the issue or create a new one. Thanks 🙇

[2017-12-28 16:15] #1586 closed

[2017-12-28 16:58] bobylito commented on #1813
This will be part of #2636

[2017-12-28 16:58] #1813 closed

[2017-12-28 17:18] sandycanonly commented on #2639
Yes that't PHP code from algolia documentation

https://www.algolia.com/doc/api-reference/api-parameters/sortFacetValuesBy/
for sortFacetValuesBy functionility

However the issue I faced with sorting the attribute value by alpha is done by modifying autocomplete.js

[2017-12-28 17:18] #2639 closed

[2017-12-29 10:57] bobylito commented on #1799
This will be solved with #2216 and more specifically an API like the proposed in #2636. Have a look, there are demos with the source code.

Closing this for now.

[2017-12-29 10:57] #1799 closed

[2017-12-29 11:05] #1585 closed

[2017-12-29 13:46] bobylito commented on #2038
Giving widgets control over the search means that any of them could mess up with the lifecycle of the other. It will be then very hard to reason about InstantSearch. And there is a solution for the problem. So I will close this issue for now (please open a new one if need be).

Thanks for your contribution, this is always appreciated.

[2017-12-29 13:46] #2038 closed

[2017-12-29 15:08] bobylito commented on #1260
In v1, autoHideContainer was not working correctly: you couldn't disable the automatic hiding behaviour. However I test with your app in v2 and you get the following:

<img width="1272" alt="screen shot 2017-12-29 at 16 07 53" src="https://user-images.githubusercontent.com/393765/34439998-75d26d94-ecb2-11e7-81be-d3c59ddb2eea.png">

Do you think it's OK @pixelastic?

[2017-12-29 15:11] bobylito commented on #1260
Also after checking the code, the condition for hiding is when we have the max value equal to the min. I don't know what could be another condition, thoughts?

[2017-12-29 15:14] #2014 closed

[2017-12-29 15:27] Haroenv opened #2644 "[theme] appearance doesn't get prefixed"
see http://shouldiprefix.com/#appearance, `-webkit-appearance: none` is necessary on selects and inputs to make them look normal. This doesn't seem to be applied by our autoprefixer

now| with `-webkit-appearance: none`
---|---
<img width="210" alt="screen shot 2017-12-29 at 16 26 12" src="https://user-images.githubusercontent.com/6270048/34440363-099c1500-ecb5-11e7-955c-6ef85558392d.png"> | <img

[2017-12-29 15:27] pixelastic commented on #1260
I think it's good enough in term of behavior. Maybe it could be improved by greying out the element (adding a class to the element when it's "disabled" like this?).

[2017-12-29 15:29] bobylito commented on #1260
The slider is actually completely disabled when that happens \o/ I think we're on the same page then, closing the issue.

[2017-12-29 15:29] #1260 closed

[2017-12-29 15:35] bobylito commented on #2130
After discussing with @rayrutjes he seems to have a pretty solid implementation (without InstantSearch.js). His menu fetches first "all the values" with a request using search for facet values. There are no subsequent updates but we could imagine doing a rendering to display the counts. The order is based on the count (most used facet value first).

That could be the target behavior.

[2017-12-29 15:36] pixelastic commented on #1260
I understand it is disabled, but is there a custom CSS class added to it so I, as the website owner, can style it differently to clearly show it's disabled (putting it all grayscale or whatever). Or do I have to add the class myself from my template?

[2017-12-29 15:37] Haroenv commented on #1260
you can style it with `whatever[disabled]` I guess

[2017-12-29 16:26] bobylito commented on #1260
In v2, we use `ais-range-slider--disabled` as way to detect that a slider is disabled.

<img width="661" alt="screen shot 2017-12-29 at 17 26 04" src="https://user-images.githubusercontent.com/393765/34441645-64720f04-ecbd-11e7-830f-6ca7a9d4bbc8.png">

[2017-12-29 16:58] bobylito commented on #2644
Nice catch @Haroenv

[2017-12-29 17:20] timkelty commented on #2038
Makes sense, thanks for the explanation.

[2018-01-02 14:29] bobylito commented on #818
Implementing a more useful solution would require to do more searches to discover which values may contain children. Let's reopen this issue or open a new one if we see any solution that would not rely on subsequent search.

[2018-01-02 14:29] #818 closed

[2018-01-03 09:51] pixelastic commented on #1260
That's perfect! :+1:

[2018-01-03 22:38] zeke commented on #1813
Thanks!

[2018-01-04 08:57] Haroenv opened #5184 "outline for inputs"

[2018-01-05 08:36] nicosrugeris opened #2647 "Resolving to a separate instantsearch results page"
I have a results (/results) page that works perfectly with my indexing and is great!

I have a search bar on my home page (/) that i would like to resolve whatever is input and parse it through to the results page, filtering the results page accordingly.

Whats the best way to do this? Any help would be appreciated.
Thanks in advance.

[2018-01-05 09:00] Haroenv commented on #2647
There's two ways of doing this. First is to have the whole Instantsearch in a div on both the home page and on the results page. It can be `[hidden]` until someone first `focus`es the input.

A second option is to make the input on the home page a `<form>` which has as action `/results` `type=get`. that can then be used on your `results` page to fill in the search bar.

Does that help you?

[2018-01-05 09:47] daanvosdewael commented on #684
The documentation page @BryanSchuetz links to, does not clearly explain how to implement this with the `instantsearch.js` library. Nor does the `SearchParameter` section on the algoliasearch-helper-js [reference page](https://community.algolia.com/algoliasearch-helper-js/reference.html#searchparameters).

I've got it working with the following code:
[code]

[2018-01-05 17:09] razvanh opened #2648 "[refinementList] sortBy doesn't factor in transformData"
When adding a transformData function to a refinement list, it is not factored in when sorting the refinements. The bug is reproduced here: https://jsfiddle.net/9ej3v2t6/

1. added a refinement list widget for genres.
2. added transformData function that changes the label of one of the genres from "Comedy" to "Humor"
3. added `sortBy:['name:asc']` and would expect the refinements to be sorted corre

[2018-01-10 02:57] Marthinsp opened #2653 "I could not find what I was looking for filter with array value"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is: -- PLEASE FILL IN HERE --

I have problem with use instantSearch function using date, but the attribute contain array of integer. So i want to filter the date with array value.

This is my attribute that contains array of integer:

![image](https://user-images.githubusercontent.com/10026508/3475

[2018-01-10 13:28] samouss opened #5185 "Could remove .ais-Widget-button--disabled"

[2018-01-11 13:11] Haroenv opened #2654 "example for currentRefinedValues doesn't have any refinements to remove"
**Do you want to request a *feature* or report a *bug*?**

bug (docs)

**Bug: What is the current behavior?**

the widget is just shown, but not useful since there are no refinements

**Bug: What is the expected behavior?**

have some widgets shown so users can see what currentRefinedValues does

**Bug: What is the proposed solution?**

add some refined widgets into that example

[2018-01-11 15:45] Haroenv commented on #2016
This is fixed right now by showing only the value (in v2)

<img width="297" alt="screen shot 2018-01-11 at 16 16 14" src="https://user-images.githubusercontent.com/6270048/34833066-d3dd85e0-f6ee-11e7-8d09-60fda5095042.png">

[2018-01-11 15:45] #2016 closed

[2018-01-12 12:46] MrMooky opened #2655 "Allow search from custom function"
This is not a bug, but rather a feature request of some sorts.

I'd like to see the possibility to manually trigger a search from a custom function. So let's say you have your regular index with categories. Now, it would be neat to have a custom function (not attached to instantsearch) to call a category from a custom function.

Simply put, something that works like this:

[code]

For some project

[2018-01-12 14:11] samouss commented on #2655
You have different API available to achieve such behaviour:

- You can use the [connectors](https://community.algolia.com/instantsearch.js/v2/connectors.html) to implement your own widget. You will have the full control of what is render without the need to reimplement all the logic of the widgets. But you are still tight to InstantSearch.

- You can also create a full [custom widget](https://comm

[2018-01-12 14:39] MrMooky commented on #2655
The last option would work, I guess. Got me into the right direction... haven't done much with the helper yet but seems to be what I'm looking for. Thanks.

[2018-01-12 14:39] #2655 closed

[2018-01-14 14:37] NicolasPK commented on #933
Hi @vvo,
Is this still not feasible? If so, is this feasible only by using the react implementation like you said back then?

[2018-01-14 17:54] Haroenv commented on #933
@nicolaspk, can you leave your opinion on the implementation in https://github.com/algolia/instantsearch.js/pull/2636 ? It seems like an interesting usecase that could be covered by that proposal

[2018-01-14 19:08] NicolasPK commented on #933
@Haroenv sounds like what I'm looking for indeed.
I guess a simpler configuration would've been appreciated (in the vein of the current `urlSync`), but I noticed that I'll be able to update the title as well so that sounds exactly like what I need ([by looking at this demo](http://weary-plants.surge.sh/app.js)).
This is the very last thing I need to do to fully replace our current (local) system b

[2018-01-14 20:16] Haroenv commented on #933
great news! feel free to leave a code snippet or fiddle so we can play around and figure out what broke your implementation too, or open a new issue for that

[2018-01-16 10:13] mthuret commented on #2165
If I'm not mistaken, with the IS.css new guidelines, the classname will be directly on the button and therefore the possibility of overriding it with an option will derive from it. Is it correct? @bobylito @ronanlevesque
cf: https://instantsearch-css.netlify.com/widgets/infinite-hits/

[2018-01-16 10:16] ronanlevesque commented on #2165
That is correct. The available classes will be `.ais-InfiniteHits-loadMore` and `.ais-InfiniteHits-loadMore--disabled`.

[2018-01-16 10:19] mthuret commented on #2130
@bobylito when reading @rayrutjes implementation it feels that it has in common with the "display facets with a count of zero" feature even though it's an alternate use case.

[2018-01-18 16:31] vvo commented on #2130
Another example where I wanted to submit items manually:
- https://discourse.algolia.com/t/defining-ranges-for-priceranges-widget/4219/4
- solution: https://codesandbox.io/s/mo0wrpm24x

The solution is not complete at all, it would require:
- graying option that are not relevant
- having the manual inputs

Which is why I believe this would make a good candidate for a true feature, ultimately I wou

[2018-01-18 17:20] iapparatus opened #2660 "Operator option in refinementList widget is not working"
You can see it in this demo: https://community.algolia.com/instantsearch.js/v2/examples/e-commerce/

Refine by: Material is set to `operator: 'or'` but it combines refinements instead of replacing one with another.

[2018-01-20 11:54] rtman opened #2661 "InstantSearch not loading correct index"
Hey there,

I'm using instantsearch on a user search page and for some reason it's coming up with my 'items' index instead of my 'users' index. This screen was previously working, but I needed to edit it to remove redundant instances of `<InstantSearch>` that I had in the drawers, and move the main instance from just below `<View style={styles.container}>` to the top of the return as I'm doing on

[2018-01-20 12:06] rtman commented on #2661
Closing this as I found my DrawerSortBy widget had a defaultRefinement of 'items', which switched the index on me it seems.

[2018-01-20 12:06] #2661 closed

[2018-01-20 13:21] aviatrix opened #2662 "Browsers crash if too many widgets are created."
**Do you want to request a *feature* or report a *bug*?**
This is a bug

**Bug: What is the current behavior?**
I have a case where i want to have 50 widgets, and the browser crashes.
Edge (latest) - total page crash , Chrome (latest) - total page crash, Firefox (latest) - popup shows to wait or stop, if you wait it renders the page and up to 24 widgets.
If the widgets are 24 or less it's all good

[2018-01-21 09:50] udewilde opened #2663 "connectInfiniteHits has undefined hits when updating state"
Hi,

I have implemented connectInfiniteHits [react-infinite-scroller](https://github.com/CassetteRocks/react-infinite-scroller), and all is working almost perfectly.
But whenever the state of the React Component is modified (not related to the infiniteHits), the connector is re-rendered with value `undefined` for the `hits` prop, which breaks the page.

Inside the `connectInfinitHits` connector :

[2018-01-21 19:02] Meschreiber opened #2664 "Link to Places docs?"
A user was looking for how to integrate Places into instantsearch.js and said this
"It might be nice if you linked to that more prominently within the instantsearch.js documentation."

in reference to https://community.algolia.com/places/documentation.html#instantsearchjs

What do you think of adding a link to the bottom of 'wrapping up' for those curious on how to integrate Places?

[2018-01-22 08:04] Haroenv commented on #2662
Hey! It would be nice if you could share a reproducing fiddle, so we can see if it's purely the number or the exact combination you use. Feel free to share it on support@algolia.com and mention this issue if you'd rather not share it publicly. Thanks!

[2018-01-22 08:06] Haroenv commented on #2663
Hey @udewilde, since you're talking about React, I think you meant to open this issue in https://github.com/algolia/react-instantsearch/, I'm going to move the issue there.

Follow up the resoution in https://github.com/algolia/react-instantsearch/issues/883

[2018-01-22 08:06] #2663 closed

[2018-01-22 12:08] vvo commented on #2664
Documentation feedback that must be incorporated in the documentation specs @mthuret is going to do in Q1, added the feedback label

[2018-01-22 17:49] ElPicador opened #2666 "Doc website: Visual bugs on Firefox on SVG"
**Bug: What is the current behavior?**
A lot (all ?) of SVG images do not display properly on Firefox
<img width="329" alt="screenshot 2018-01-22 18 47 39" src="https://user-images.githubusercontent.com/16667/35235573-dbc47480-ffa4-11e7-8f63-79c05ac36fb3.png">

<img width="285" alt="screenshot 2018-01-22 18 47 51" src="https://user-images.githubusercontent.com/16667/35235574-dc0e015e-ffa4-11e7-9a3

[2018-01-22 17:50] ElPicador opened #2667 "Doc website: Visible scrolling bars"
**Bug: What is the current behavior?**
The menu on the left has a horizontal scrollbar visible. It prevents to see all the content of the menu
<img width="409" alt="screenshot 2018-01-22 18 47 34" src="https://user-images.githubusercontent.com/16667/35235643-0505cb1e-ffa5-11e7-9582-a9a468d44063.png">

**Bug: What is the expected behavior?**
Not to see them

**Bug: What browsers are impacted? Which

[2018-01-22 18:44] ankitachetu opened #2668 "How can I refine my search from URL query string"
How can I refine my search from URL query string, so that whatever color I want to select by default can be selected from URL through query string.

Example : http://*********/shop/desk-accessories/desk-pads/?refinement=color:black

The above URL should auto select from my selected result for black color.

[2018-01-22 19:11] Haroenv commented on #2667
@lukyvj

[2018-01-22 19:14] Haroenv commented on #2668
Did you check out the urlSync option in the InstantSearch initialiser?

https://community.algolia.com/instantsearch.js/v2/instantsearch.html#struct-InstantSearchOptions-urlSync

See also: https://github.com/algolia/instantsearch.js/pull/2636

[2018-01-22 19:18] ankitachetu commented on #2668
Thanks Haroenv.
Can you suggest the same when we click on any filter option the same should be binded in URL so that we can copy the URL and forward to our customer based on our selection.

[2018-01-22 19:50] aviatrix commented on #2662
Hey @Haroenv , here is a sample of the site when it crashes with too many widgets.
`http://scrapecity.dotfinity.eu/`

Also, please notice that the selected filters on the top are more than the rendered on the left.

[2018-01-23 11:43] LukyVj commented on #2667
Thanks for opening the issue @ElPicador !
So, there is so far no way to hide them easily in FF.

Right now I don't have bandwidth to take care of this, I'll do it as soon as possible.
Meanwhile, I encourage you to check this pen! https://codepen.io/JonAnderDev/pen/XJNOPr

It's a bulletproof way to hide them on every browsers

[2018-01-23 13:40] ElPicador commented on #2667
Thanks for the insights. I agree it's not a big deal.
But, IMHO, #2666 is far more an issue. Could you have a look?

[2018-01-23 14:24] iam4x commented on #2668
Hello @ankitachetu if you set `urlSync` to true, this should be already the case, you will be able to share URLs

[2018-01-23 14:25] iam4x commented on #2666
I think @Haroenv tweeted on this issue for another website?

[2018-01-23 15:12] Haroenv commented on #2666
If they are background images, we should be able to replace # by %23, otherwise I'm not sure what the issue is 🤔

[2018-01-23 16:01] beffa opened #2670 "How to re-send the query with js e.g. on browser back?"
We have the search box and results in a modal window.

If the user clicks on a result, and then hits the back button, we re-open the modal view with the last search term in the search box. How to re-send the query?

Is there an way to trigger a search, couldn't find it in the docs.

[2018-01-23 16:09] Haroenv commented on #2670
`search.refresh()` should do it, it clears the cache and forces a new query from the network. If you are fine with having a search from the cache, you can use `search.helper.search()`

[2018-01-23 16:14] Haroenv opened #2671 "Add a warning if `addWidget` is called without ever calling start()"
**Do you want to request a *feature* or report a *bug*?**

feature

**Feature: What is the current behavior?**

you might lose a lot of time if you forget to call `search.start()`

**Feature: What is the expected behavior?**

A warning gets printed to the console if after X amount of time, the `search.start()`. was never called.

**Feature: What is your proposed API entry? The new option to add? W

[2018-01-23 17:34] egyprotech opened #2672 "Sort by widget drop-down default selection"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is:

We are using algolia with magento extension,
We are using sortBySelector widget.
Most relevant is the default selection of this drop-down no matter what we configured which attribute is first.
Where Should we modify to make a default selection like price for example.

[2018-01-23 18:46] hilkeros commented on #2670
I am working on the same project.
`search.refresh()` gives an Uncaught TypeError: search.refresh is not a function.
`search.helper.search()` doesn't give an error, but it doesn't show new results corresponding with the text in the search box

This is the whole code:

[code]

[2018-01-23 21:22] iapparatus commented on #2660
@vvo Yes, indeed. Thanks.

[2018-01-24 00:08] GT24--- opened #2673 "I could not find what I was looking for - Hierarchical Menu Sort"
Hi Algolia,

I'm looking through the documentation on InstantSearch.js and I couldn't find an example of how to sort an hierarchical menu using a sort function.

What I want to achieve is sort the hierarchical menu based on the order I have decided on so it's on based on the name of them item or the number of items underneath it.

Can you please provide an example on how to achieve this?

Thanks A

[2018-01-24 07:31] Haroenv commented on #2670
The helper workaround should be search.helper.clearCache().search(), sorry for that mistake. Could you make that snippet into a complete sandbox with the HTML too please?

[2018-01-24 08:16] hilkeros commented on #2670
I pushed your suggestion on our staging environment:
[(https://mooris-store-staging.herokuapp.com)]

It doesn't refresh the search results.

Click the search icon in the upper right corner. We store your last search term in the session or, if you are logged in, on your user record in the database. When the search modal opens, we prefill the search field with your last search term. We just can't ma

[2018-01-24 08:40] Haroenv commented on #2670
Thanks for that reproduction @hilkeros, very useful. Even more useful would be editing [this template](https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js) with your modal logic so we can figure out where the refreshing should happen

[2018-01-24 10:56] Haroenv commented on #2668
duplicate of https://github.com/algolia/react-instantsearch/issues/895

[2018-01-24 10:56] #2668 closed

[2018-01-24 15:27] #2660 closed

[2018-01-24 16:04] Haroenv commented on #2670
Hello @hilkeros, I saw you use an old version of InstantSearch, can you update please? `search.helper.clearCache().search()` should work however though

[2018-01-25 03:29] andrewstephens opened #2674 "MenuSelect Widget in the WordPress Plugin?"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is: I'm running the WordPress plugin on a client's site and they want a dropdown menu for one of the facets, but when I try to add the MenuSelect widget, it throws an error that "menuSelect is not a function".

[2018-01-25 06:38] Haroenv commented on #2674
Wordpress has v1 of InstantSearch which doesn’t have this widget yet. You need to manually update InstantSearch in Wordpress, cc @rayrutjes

[2018-01-25 09:29] bobylito commented on #2648
Hi @razvanh, indeed `sortBy` is applied before `transformData`. I'm not sure whether we should "fix" that because some might rely on this behaviour. I'll sync up with the team.

[2018-01-25 09:58] bobylito commented on #2672
The default selection is based on the selected index. You can change the default index by modifying how InstantSearch.js is initialized:

[code]

You can change the index here: https://codesandbox.io/embed/vy4prppwmy

[2018-01-25 10:05] bobylito commented on #2673
You can provide a function to the [sortBy](https://community.algolia.com/instantsearch.js/v2/widgets/hierarchicalMenu.html#struct-HierarchicalMenuWidgetOptions-sortBy) parameter. This provided function should be like a [compare function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort#Description).

[2018-01-25 10:12] bobylito commented on #2653
It is not possible to filter by position in the array with Algolia. But you could use facets. I suggest that you reach out to the Algolia support directly because booking use cases can be tricky.

[2018-01-25 10:34] bobylito commented on #2666
Thanks for reporting this issue @ElPicador. This is a duplicate of #2536. Since @LukyVj doesn't have much bandwidth, maybe @ronanlevesque could have a look?

[2018-01-25 10:38] rayrutjes commented on #2674
There is currently no easy way to upgrade to instantsearch v2 in the wordpress plugin.

The easiest would be to do a fully custom search experience and re-use the existing indices.

[2018-01-25 13:44] vvo opened #5711 "Proposal: An updated hierarchical facets behaviour"
# Disjunctive facet behaviour

When using a **menu** in React InstantSearch (based on a **disjunctive facet**), we get this behaviour:

![2018-01-25 14 10 40](https://user-images.githubusercontent.com/123822/35390971-8105b866-01dd-11e8-8f79-845fdb6f6331.gif)

Steps to reproduce:
- Load the [Menu story](https://community.algolia.com/react-instantsearch/storybook/?selectedKind=Menu&selectedStory=def

[2018-01-25 13:59] vvo opened #2676 "Proposal: Align menu and connectMenu behaviour with RIS Menu"
**Do you want to request a *feature* or report a *bug*?**

A feature/bug

**Bug: What is the current behavior?**

When using a **menu** with **React InstantSearch**, we get this behaviour:

![2018-01-25 14 41 37](https://user-images.githubusercontent.com/123822/35391093-ebcb53c2-01dd-11e8-80f2-7dd70862bb29.gif)

Steps to reproduce:
- Load the [HierarchicalMenu story](https://community.algolia.com/

[2018-01-25 14:28] bobylito commented on #2674
@andrewstephens If you want to make a menu select, you could [copy the menu connector](https://github.com/algolia/instantsearch.js/blob/develop/src/connectors/menu/connectMenu.js) in your codebase and [follow the v2 guide](https://community.algolia.com/instantsearch.js/v2/guides/customization.html) (that should work with v1). The only dependency of the connector is over `checkRendering` in the uti

[2018-01-25 14:28] #2674 closed

[2018-01-25 15:52] bobylito commented on #2647
@nicosrugeris Does the answer from @Haroenv solve your problem?

[2018-01-25 15:54] bobylito commented on #2653
I will close this issue as it is more related to the usage of Algolia itself and therefore the support might be of greater help. Feel free to open a new if you think that something could help you on InstantSearch.js side.

[2018-01-25 15:54] #2653 closed

[2018-01-26 09:16] nicosrugeris commented on #2647
Thank you very much @Haroenv for the solutions. The second option we went for worked perfectly. Thanks again.

[2018-01-26 09:16] #2647 closed

[2018-01-26 13:14] francoischalifour opened #2677 "Proposal: improve `connectRange()` behavior"
### Improve the [`refine()` documentation](https://community.algolia.com/instantsearch.js/v2/connectors/connectRange.html#struct-RangeRenderingOptions)

When you create a calendar widget (to refine with date ranges), you sometimes need to specify a lower bound without any upper bound (let's say "*Display all events from 26/01/2018*"). A way to do so is to pass `undefined` as the upper bound:

[cod

[2018-01-26 13:16] karlcow commented on #2536
Be aware that this is a bug in Chrome and probably Safari when SVG2 is landing.
See the discussion in https://bugzilla.mozilla.org/show_bug.cgi?id=1433360#c2 with spec reference.
To fix the issue it is necessary to put the width on the use element.

[2018-01-26 13:39] bobylito commented on #2662
I could reproduce the issue with your link, thanks @aviatrix. I'm not quite sure how to proceed to fix this yet. It might take some time and I guess there will also be a higher bound on the number of widgets that we can handle in the browser.

From a UX perspective maybe it's not ideal to display 50+ filters. Maybe you could organize them in panels and add or remove widgets dynamically?

[2018-01-26 13:53] aviatrix commented on #2662
Hey, thanks for looking into this!

You are totally right about the UX, but we are still at a prototype phase and i wanted to have all options filterable untill we can figure out how to do things and what to keep/remove in general and what to hide.

For now I will try to add them dynamically and see where that goes :)

[2018-01-26 15:09] samouss commented on #2677
First of all, thanks for the propositions!

Agree we should document that.

Adding the support for `Infinity` doesn't makes much sense to me. Right now when you pass a value to the refine function it's either a finite `number` or `undefined`. At the end when you pass a `number` the client will query the API with the provided value. When you omit the value (aka `undefined`) the message is clear you

[2018-01-26 15:25] bobylito commented on #2677
@samouss I think the support for `Infinity` is linked to the fact that it is provided in the base values (`start`) that as an implementer you want to reuse because it is previous state and you only ever update one part of the range per user interaction.

This `start` variable shouldn't contain values that are not compatible with refine. Therefore, another option could be that the start contains on

[2018-01-26 15:28] bobylito commented on #2677
The tuple vs object problem is mainly good for consistency as we have now two kinds of structure for the same kind of values and it has a slightly better readability, but it is less explicit. I'm ok to do the change in the next major version.

[2018-01-26 16:19] samouss commented on #2677
@bobylito Yes but IIRC when we worked on the `connectRange` recently we kept the `Infinity` value only for backward compatibility. At some point we should get rid of the `Infinity` initialisation for `undefined`. Because inside the rendering we don't use those values, we transform them (to `undefined`) before the component creation.

https://github.com/algolia/instantsearch.js/blob/35a1da173a99dec

[2018-01-26 18:05] dholbert commented on #2536
There's a pretty easy fix here (from the Mozilla bug report).  In cases where you have something like this...
[code]
...you should add an explicit `width="100%" height="100%"` on to that `<use>` element, like so:
[code]

Otherwise, the SVG 2 spec says the browser has to copy the `width` attribute from the element that it's cloning, when generating the `<use>`-clone. (In this case, `#search-icon` h

[2018-01-26 18:09] dholbert commented on #2536
(Ah, it looks like perhaps you folks fixed this by instead removing the explicit `width` and `height` from the `<symbol>` element in https://github.com/algolia/instantsearch.js/pull/2675/commits/03834157620720e97e9856169d89d1ce2db158ea .  That's good too and is another way of achieving the same end result, which is to avoid having an explicit pixel size on the `<use>`-produced clone.)

[2018-01-28 09:58] bobylito commented on #2536
Thanks @dholbert Didn't about all that, thanks for sharing your knowledge 👍

[2018-01-29 02:26] IAmDragon commented on #871
@vvo Hey, trying to do this in the same way (Kind of)

I don't understand what you're doing with the item.matchedData, I'd like to ideally just have each hit list kind of like this - I store certain things in arrays (I have Acting Credits and in it might be
`'actingcredits' = ['The Incredible Hulk, Co-Star, Michael Whocares, Film', 'Next Move Credit Whatever']`

I'd like to display the matched ite

[2018-01-29 09:22] francoischalifour commented on #2677
Both arguments for supporting (or not) `Infinity` are valid. Dropping or adding complete support for infinite values is something we should consider in a next major release if it is to add breaking changes then.

I'm going to document the usage of `undefined` as a "no bound" value for `refine()` since this is a priority 🙂

[2018-01-29 10:32] vvo commented on #871
Hi @IAmDragon, can you open a new issue describing your problem in full length? This one was closed and might be hard to discuss here. Thanks!

[2018-01-29 16:29] bobylito commented on #2677
@samouss I agree with you that eventually we should get rid of the references to `Infinity`. However in the mean time, this is a value provided by the API (`start`) so we ought to support it, to make sure that the noop works: `refine(start)`.

[2018-01-29 18:12] Haroenv opened #2680 "RFC: more complete connectPagination"
**Do you want to request a *feature* or report a *bug*?**

feature

**Feature: What is your use case for such a feature?**

Currently there's still a significant amount of code to write if you want to write your own `pagination` component.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

Deal with the whole clamping, +1 / -1 and padding issue in the conn

[2018-01-29 18:15] Haroenv commented on #2680
the connector should give me:

1. current page
2. first / last, next / previous page (just the value)
3. array with padded pages (each with `active: bool` or something)
4. createURL
5. refine

[2018-01-29 18:27] Haroenv commented on #2680
This is probably mostly fixed by shipping https://github.com/algolia/instantsearch.js/blob/develop/src/components/Pagination/Paginator.js as part of the connector

[2018-01-29 20:03] IAmDragon opened #2681 "Show Name of Matching Person Then Highlighted Result"
Hey all,

So what I'm trying to do is have a search on my site that searches through users. It's supposed to search through a lot of attributes (about 10-12) and it's supposed to return matched users links to their profile using the hit item's `{{username}}` such as `<a href="mywebsite.com/{{username}}>{{name}}</a>`

What I'd like is that first part `<a href="mywebsite.com/{{username}}>{{name}}</a

[2018-01-29 20:15] IAmDragon commented on #2681
Adding as a comment as well

Is there a better way to display the search results?

Right now I'm using a default like `background: white; padding-top: 1em; padding-bottom: 1em;` style on the hits div, but I'm wondering if you've seen any really good basic UI implementations that look good, or maybe using the autocomplete? I've never messed with a search before and this is all new to me and styling

[2018-01-29 22:37] Haroenv commented on #2681
Would be nice if you gave a codesandbox with what you have now, we’ll be able to give feedback then. Regardless of that, did you take a look at matchLevel and matchedWords in _highlightResult?

[2018-01-30 07:53] IAmDragon commented on #2681
Here's my current setup:
https://jsfiddle.net/frpb3ez4/1/

[2018-01-30 13:54] bobylito commented on #2681
Like @Haroenv, what you're looking for is _highlightResult. For example, after typing `j` in your search, you get hits with:

<img width="550" alt="screen shot 2018-01-30 at 14 47 33" src="https://user-images.githubusercontent.com/393765/35569595-c50bdbba-05cc-11e8-8e5b-958bc43794d9.png">

To build an autocomplete, I'd rather [autocomplete.js](https://github.com/algolia/autocomplete.js/) that come

[2018-01-30 13:54] #2681 closed

[2018-01-30 13:55] IAmDragon commented on #2681
Right, I know of _highlightResult but it only matches the name, not the actual word that's matched as far as I can tell.

[2018-01-30 13:58] bobylito commented on #2680
I'm in! I agree and it fits the ALLAPITV (as little logic as possible in the view) principle :) That's a breaking change though. Maybe a candidate for the v3?

[2018-01-30 14:43] Haroenv commented on #2681
@IAmDragon, that's because you need to put it in `searchableAttributes` and `attributesToHighlight`

[2018-01-30 14:56] iam4x commented on #2680
I'm not sure about it, this is view logic I think.
We provide connectors so you can create your own pagination with the raw data.

Or do you want to enhance the current connector to have an array of already generated pages?
Like I do here: https://github.com/algolia/angular-instantsearch/blob/master/src/pagination/pagination.ts#L126-L166

[2018-01-30 15:03] Haroenv commented on #2680
IMO that's very brittle logic that I'd rather have in the connector than in the widget, the one you linked seems like another implementation than the one in IS.js with Pagination.js. for exactly that reason I'd like to have this info in the connector

[2018-01-31 01:20] IAmDragon opened #2682 "Autofocus Not Disabling"
Title

I have autofocus disabled but it still autofocuses by default and jumps the browser down to the search

[code]

[2018-01-31 01:36] IAmDragon commented on #2681
@Haroenv They're in my searchable attributes now but _highlightResult.name.value is always equal to their name rather than the matched word (Added them to attributesToHighlight too)

[2018-01-31 06:27] Haroenv commented on #2681
Did you check “matchedWords”

[2018-01-31 08:19] bobylito commented on #2682
Hi @IAmDragon, thanks filling this issue. `autofocus` is a [parameter of the searchbox](https://community.algolia.com/instantsearch.js/v2/widgets/searchBox.html#struct-SearchBoxWidgetOptions-autofocus). If you still have problems with your implementation, please open  a new issue or [ask the community forum](https://discourse.algolia.com/).

[2018-01-31 08:19] #2682 closed

[2018-01-31 10:57] mthuret opened #2683 "Add default values for display only widgets (currentRefinements, breadcrumb)"
If you go here: https://community.algolia.com/instantsearch.js/v2/widgets/breadcrumb.html#example

And click on "run", then nothing appears.

I would have expect to see the breadcrumb displayed (with a Hierarchical Menu if we want the user  to play with it).

[2018-01-31 11:03] mthuret opened #2684 "No analytics for v2"
When looking into Google Analytics, I can't find any of them for the v2.
But I can see them for the v1.

Usage for `googleTagManager` might be missing. (see: https://github.com/algolia/react-instantsearch/blob/fbbe9386e79acd4c36f03b54580321910b7a27a2/docgen/layouts/common/marketing.pug)

[2018-01-31 13:39] bobylito commented on #2670
@hilkeros Did you solve your issue?

[2018-01-31 13:40] bobylito commented on #2662
@aviatrix did you manage to do something by dynamically adding / removing widgets?

[2018-01-31 14:28] bobylito commented on #2683
Displaying multiple widgets might be an issue though :/

[2018-01-31 14:28] francoischalifour opened #2685 "Images don't have a `max-width` in the documentation container"
**Do you want to request a *feature* or report a *bug*?**

Bug

I'm writing a guide and wanted to add a screenshot. The image is 800px wide and overflows in most cases.

**Bug: What is the current behavior?**

Images in `.documentation-container` don't have any maximum size.

![localhost_3002_v2_guides_calendar-widget html ipad pro 1](https://user-images.githubusercontent.com/6137112/35627642-d475

[2018-01-31 14:31] bobylito commented on #2685
Since @LukyVj is very busy, you could fix it on your end. And he will tell you if that's the incorrect way to fix :)

[2018-01-31 14:45] francoischalifour commented on #2685
Got it!

[2018-01-31 15:39] Haroenv commented on #2683
I think this is an issue for currentRefinements too

[2018-01-31 16:38] #2685 closed

[2018-01-31 18:55] aviatrix commented on #2662
I've tried the following thing so far :  have 5-6 widgets declared before `instantsearch.start()` and the rest declared right after start (without delay) what i've observed is essentially the same behavior :  search initializes the 5 widgets, does a search and the second it starts loading all those other widgets it still crashes. In addition it also does a lot more HTTP requests to the search api

[2018-01-31 23:04] aviatrix commented on #2662
Happy to report that the vue-js version works nicely with 50 widgets and renders instantly.

[2018-02-01 12:08] Haroenv commented on #2452
This seems to be closed in https://github.com/algolia/instantsearch.js/pull/2466

[2018-02-01 12:08] #2452 closed

[2018-02-01 15:35] bobylito commented on #2662
Well that's both great and bad news. Thanks for doing the hard work of testing the limitations. I will dig into that...

[2018-02-02 09:06] #2666 closed

[2018-02-03 03:39] IAmDragon commented on #2681
Here's what I have
[code]

It still doesn't show anything, I'm probably confusing the variables but I want it to show only the matched result as in, if the query was 'Hulk' and the matched result was The Incredible Hulk, it should show
[code]

But I can't seem to make it work, what am I doing wrong? I tried _highlightResult.actingcredits.matchedWords[0] as well and nothing shows still

[2018-02-03 08:11] Haroenv commented on #2681
So you want to show the name if it’s there and otherwise the actingvalue? In this case you should add an

[code]

That was just pseudocode, but it should be quite close

[2018-02-03 23:19] IAmDragon commented on #2681
Where do I put that? Can I use if's after item: ? I didn't think I could because it accepts an array

[2018-02-04 11:56] hilkeros commented on #2670
Sorry, we have other priorities at the moment. I'll come back to it later.

2018-01-31 14:39 GMT+01:00 Alex S <notifications@github.com>:

[2018-02-05 14:14] bobylito opened #2694 "Better control over runnable examples"
Right now, the JS script in the page relies on a test to define if the code of an example should be runnable or not: contains `search.addWidget`? or `/function renderFn\(\S+(, isFirstRendering)?\) {/g.test(exampleContent)`?

This gives poor control over what's runnable or not, which seems magical and also lead to inconsistent experience like the new calendar guide. In this guide, we have one runna

[2018-02-05 14:18] Haroenv commented on #2694
I think a comment or wrapping in a class should be a good enough metric do decide whether they're runnable. The credentials done via frontmatter as in #2690 seems good to me!

[2018-02-05 14:58] bobylito commented on #2670
Ok. I'm closing this one for now. Please do open a new issue if you haven't been able to solve your issue. Thanks :)

[2018-02-05 15:42] francoischalifour commented on #2694
Here are the solutions that I see with their pros and cons:

### 1. In the frontmatter

#### Example

[code]

#### Pros

* Easy to set up

#### Cons

* Make *all* code samples in the page not runnable (we might want to only disable one)

### 2. As a comment/annotation in the code itself

#### Example

[code]

#### Pros

* Enable/disable a unique code sample

#### Cons

* We need to parse and remov

[2018-02-05 15:56] bobylito commented on #2662
I ran some tests this weekend and I found that the time is mostly spent inside the slider widget. After removing all slider widgets from the example, the time of render went from 15s to 0.5s and no crash anymore.

The time is mostly spent when computing snap points [`computeSnapPoints`](https://github.com/algolia/instantsearch.js/blob/develop/src/components/Slider/Slider.js#L57).

[2018-02-05 15:58] bobylito commented on #2694
@francoischalifour I agree that 1 should good enough for now and it has a superior DX.

[2018-02-05 16:50] samouss commented on #2662
For the `computeSnapPoints` we should avoid to do it on every render. We can cache the results and trigger the computation from `willReceiveProps` only when the dependencies changed (`min`, `max`, `step`).

[2018-02-05 16:53] bobylito commented on #2662
Well that's an idea, but that won't change the problem for the initial rendering. It will only make the subsequent render faster.

[2018-02-05 17:43] Haroenv commented on #2694
What I meant instead of 4:

[code]

</div>
[code]

[2018-02-05 17:57] francoischalifour commented on #2694
Ah, got you, it works and would be easy to parse!

[2018-02-05 18:26] bobylito commented on #2694
So we got a solution with @Haroenv idea, @francoischalifour ? 👍 ?

[2018-02-07 19:35] Haroenv opened #2697 "RFC: connectConfigure"
* Start Date: 2018-02-05

# Summary

A connector for third-party integrations which doesn't have any rendering to set options for the InstantSearch instance. These options are sent on every `search` or `searchForFacetValues`.

# Motivation

Having `searchParameters` in `instantsearch()` makes sense for a static configuration, but as soon as you want to make it dynamic, it makes more sense as a wid

[2018-02-08 09:46] bobylito commented on #2662
I've continued investigating the issue here. It seems that one of the facet values `DynamicContrastRatio` has a range of [0 - 1000000]. I removed the widget that was using this facet and the 49 others widget behaved correctly. I also tried to remove the generation of snapPoints and it worked like a charm.

@aviatrix you could use instantsearch.js and use another widget for the dynamic contrast rat

[2018-02-08 11:06] aviatrix commented on #2662
@bobylito Excelent! Would just removing the `DynamicContrastRatio` speed up things significantly on its own or we need to also wait for new version that includes the `step` fix on your side?

[2018-02-08 11:21] Haroenv commented on #2662
Removing it for now and adding it back when we have the fix will do the trick @aviatrix

[2018-02-08 13:13] Haroenv commented on #2697
As discussed, this is a widget, not a connector

[2018-02-08 15:56] bobylito commented on #2315
Done ✅

[2018-02-08 15:56] #2315 closed

[2018-02-08 16:41] caroheymes opened #2700 "I could not find what I was looking for"
Hi! I have a documentation issue. I could not find what I was looking for.
If someone can help (ideally in French), I'll be happy.

I have a rails application and a dataset as an index cf:
https://researchkro.herokuapp.com/

What I am trying to do is to generate a link for every company name but I don't know how to proceed.

I've used the js in the demo

[code]

Thanks for your help !

[2018-02-09 15:15] zenmumbler opened #2730 "InstantSearch imports EventEmitter incorrectly"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
We put the instantsearch.js module into our (rollup) build and got an error that internal node module "events" does not export `EventEmitter`.

When I looked there is an ES6 import:
https://github.com/algolia/instantsearch.js/blob/541699d900ca0a20e17c5624baa1a7ab085fbf9a/src/lib/InstantSearch.js#L

[2018-02-09 16:08] Haroenv commented on #2730
Thanks a lot, this logic definitely makes sense. Are you up for making a PR with your changes?

[2018-02-11 21:02] #2662 closed

[2018-02-12 02:01] Braunson opened #2731 "RangeSlider renders but isn't dragable?"
Type: Bug
Current Behavior: Renders but is not draggable
Expected Behavior: Draggable
Browser: Google Chrome Version 64.0.3282.140 (Official Build) (64-bit) (But happens on every one I've tested)

Image:
![](https://goo.gl/1wxaCM)

The element renders properly, except you cannot drag either end?

[2018-02-12 08:17] Haroenv commented on #2731
@Braunson, do you have this behaviour reproducible in a CodeSandbox (template [here]( https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js))? It will be pretty much impossible to debug this without more information.

Thanks!

[2018-02-12 08:33] bobylito opened #2732 "HitsPerPageSelector, when selecting the empty value, it sends `undefined` to Algolia"
**bug**

When using HitsPerPageSelector with no default value, an empty entry is generated. When selecting any non empty value, and then selecting a value, we get an error from the API:

<img width="1440" alt="screen shot 2018-02-12 at 09 32 52" src="https://user-images.githubusercontent.com/393765/36088470-b9d99bbe-0fd7-11e8-969c-5f60cc3fcd65.png">

Reproducible here: https://codesandbox.io/s/8qo

[2018-02-12 09:48] SchmidtDawid opened #2734 "I could not find what I was looking for - placeholders in priceRanges and last item in hierarhaicalMenu"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is:

-How to add placeholders to priceRanges widget,
-How to add class to LAST (last in depth) item in hierarchaicalMenu widget. I dont know how to add css style only to item which can't be collapsed.

[2018-02-12 13:45] bobylito commented on #2700
hi @caroheymes.

Have you tried using InstantSearch.js, it will help you make your implementation more concise? Maybe you could give it a spin with the [getting started](https://community.algolia.com/instantsearch.js/v2/getting-started.html)?

I'm saying this because your implementation does not use InstantSearch.js and here we handle InstantSearch.js issues. The idea to add links to any other res

[2018-02-12 13:45] #2700 closed

[2018-02-12 23:27] iam4x commented on #2734
Hi @SchmidtDawid these options are not available, if you need to customise theses widgets in depth you will need to use the [connectors](https://community.algolia.com/instantsearch.js/v2/connectors.html) API.

There is a [guide](https://community.algolia.com/instantsearch.js/v2/guides/customization.html) explaining step by step how to customize widgets.

[2018-02-12 23:27] #2734 closed

[2018-02-13 01:15] Braunson commented on #2731
@Haroenv I have tried and can't recreate it via CodeSandbox. I'm using webpack to include things which I suspect may be part of the cause. Here's some more information..

**package.json**
[code]

**app.js**
[code]

**app.scss**
[code]

[2018-02-13 09:51] bobylito commented on #2731
Do you have any issues when you using our [tourism demo](https://community.algolia.com/instantsearch.js/v2/examples/tourism/?q=&idx=airbnb&p=0&nR%5Bperson_capacity%5D%5B%3E%3D%5D%5B0%5D=1&nR%5Bprice%5D%5B%3E%3D%5D%5B0%5D=900) or the [storybook like demo](https://community.algolia.com/instantsearch.js/v2/dev-novel/?selectedStory=RangeSlider.default)?

[2018-02-13 14:18] Braunson commented on #2731
@bobylito No issues on either of those. I've tried different browsers with my code and it seems the only common items are:

1. Webpack
2. v2.5.0 version

This is a fresh install and use of `instantsearch.js`, I have no other vendor scripts or anything included. I am using `Laravel Mix` which is a webpack wrapper but that _shouldn't_ have anything to do with it.

[2018-02-14 13:19] hilkeros commented on #2670
Reopening this one. I think we have the newest version right now on https://mooris-store-staging.herokuapp.com. The css is not very nice now, but just checking whether the refresh or clear cache works. it doesn't.

What might be the problem?

Click the search icon in the upper right corner. We store your last search term in the session or, if you are logged in, on your user record in the database.

[2018-02-14 14:48] Giovanni-Mattucci commented on #2612
@bobylito I've removed the [aliases](https://github.com/algolia/instantsearch.js/issues/2612#issuecomment-348974441) since upgrading to `2.5.1` and I'm not having the problem anymore :)

I see the fix got incorporated into `2.3.2` so I guess we can consider this closed?

[2018-02-14 15:10] Haroenv commented on #2612
This should have been fixed since #2618. All references now point to `preact-compat` or `preact` in the code.

[2018-02-14 15:10] #2612 closed

[2018-02-14 16:38] bobylito commented on #2670
In order to control the a search using InstantSearch, you need to feed the Helper the correct values. Changing the UI directly won't work.

From what I understand of your case and given that the function that will read the last search term used is called `getLastSavedSearch`, you'd have :

[code]

Let me know if this works for you.

[2018-02-15 08:40] bobylito commented on #2731
I can't reproduce your issue. Can you provide a repro test case @Braunson ?

[2018-02-15 09:33] hilkeros commented on #2670
That does the trick. Thanks!

[2018-02-15 09:35] #2670 closed

[2018-02-15 10:12] bobylito commented on #2667
I use FF (beta) and the behavior is now similar to chrome. If it's not already the case in stable, it'll come soon.

As for the horizontal scrollbar, this is definitely doable. PR is proposed.

[2018-02-15 14:06] #2667 closed

[2018-02-15 22:49] Braunson opened #2740 "Toggle: Using the attributeName in the template"
I'm trying to add use the `unique` `attributeName` for my Toggle in the custom template (to link the label to the input) but I can't seem to find any way to access it within the template.

[code]

Required: unique identifier for this element, using the label isn't ideal since it can include special characters and spaces.

## A (not ideal) solution

I can use `transformData` to do some less than id

[2018-02-16 09:16] Haroenv commented on #2740
There's multiple workarounds at least for this case:

1. wrap the input in the label and you don't need the brittle coupling of ids, which is more accessible
2. use `transformData` as you said
3. we add `attributeName` to all of the templates

I can see why you'd want this, but we haven't had any problems so far with this, so I'm not sure yet if it should be added.

If you have a lot of toggles, i

[2018-02-16 13:45] Braunson commented on #2740
@Haroenv Thanks for the options however `attributeName` was not accessible nor available in my custom template. The reason for the unique name was due to how the toggles were originally designed. Wrapping them does ruin the UI of it (tho that can be easily fixed by updating the CSS).

Also thanks for the tip on `refinementList`, I'll take a look!

[2018-02-16 13:48] Haroenv commented on #2740
Feel free to reopen this issue if you find a need for it again though, I'm totally open for the idea, just looking for usecases

[2018-02-16 13:49] Braunson commented on #2740
@Haroenv Yes I feel a unique identifier that could be passed to the template would be nice to have, as for use cases outside what I've explained I can't think of any

[2018-02-16 13:52] Haroenv commented on #2740
I'll leave this open for now because I can see the value

[2018-02-16 19:26] Braunson opened #2742 "Feature: Return helpers in hits > empty template"
The use case is to display certain text only if there was a `query` given for a search, otherwise display a different message. Outside of using a closure there's no helpful methods.

For example. the `Toggle` widget has a `isRefined` parameter that is passed to the template so you can use it like so:

[code]

It would be great to have a few like this for the hit>empty template to use like so..

[c

[2018-02-17 22:00] Haroenv commented on #2742
Good idea! Let’s think about how this can be implemented. Query, search parameters are useful features. For now you can work around it by using a function rather than a straight template.

[2018-02-19 09:52] SchmidtDawid opened #2744 "How to change operator in currentRefinedValues widget."
I can't change operator . I use transformdata but it doesn't work.

transformData: {
          item(item) {
            item.computedLabel = filterNameReplace(item.computedLabel);
            item.operator = "do"; //test
            console.log(item); //display item corectly
            return item;
          },
        },

function filterNameReplace(name){
  name2 = name.toString();
  name2 = nam

[2018-02-20 13:20] SchmidtDawid commented on #2744
SOLVED

transformData: {
          item(item) {
            if(item.displayOperator == '&ge;'){ item.displayOperator = "cena od"; item.name += ' zł'; };
            if(item.displayOperator == '&le;'){ item.displayOperator = "cena do"; item.name += ' zł'; };
            return item
          },
        },

[2018-02-22 00:31] safeimuslim opened #2745 "How to implement infinite scroll ?"
Hi, Anyone help me?

How to implement infinite scroll ?

[2018-02-22 12:39] krishna1928 opened #2746 "Reg:facetsRefinments"
Hi,
I have an issue regarding facetsrefinment how to apply OR operator in facetsRefinements??
I applied like in below code but i am getting error please suggest me how to fix this issue

[code]

[2018-02-22 13:21] hcarreras opened #2747 "Multiple sortBySelector interfere with each other"
I want to sort my orders by multiple attributes. I've created replicas for my primary index:
![](https://cl.ly/2u451Z22460V/Image%202018-02-22%20at%202.14.59%20PM.png)

Then, on my js (coffeescript), I use instantsearch for adding multiple sortBySelectors:

[code]

Unfortunately, when I change one of the dropdowns, the other one gets affected as well:
![](https://cl.ly/0F2R3z3a1c1H/Screen%20Record

[2018-02-23 17:16] iapparatus opened #2748 "How to have a static list of options in menuSelect?"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is: -- Is there any way to prevent one widget (menu) from refining categories in another widget (menuSelect).

In my use case I want to have the list of categories in menuSelect widget to be static. --

[2018-02-24 18:34] Braunson commented on #2731
@bobylito Seems I can re-create it but only with [Laravel Mix](https://github.com/JeffreyWay/laravel-mix)

[2018-02-26 08:39] kamilo81 opened #2750 "infinite-hits - show previous pages results"
My initial page params:  ?q=&idx=items&p=2
it shows me only results from page 2 and i can not show result form page 1 and page 0.
I dont want to use pagination. Im only using infinite-hits with show more button.

There is a way to show results from p0 to p2 ?

[2018-02-26 12:50] bobylito commented on #2750
Hi @kamilo81
So far, we've advised users with infinite hits UI to not synchronize the page with the URL. For now, we haven't changed our point of view. We might want to reconsider that but we have no plan yet.

[2018-02-26 12:55] bobylito commented on #2747
The widget doesn't support multiple instance the way you're doing it because they are not aware of the others and the default behaviour. Maybe you can work around that by implementing a [custom widget](https://community.algolia.com/instantsearch.js/v2/guides/customization.html) using the [connectSortBySelector](https://community.algolia.com/instantsearch.js/v2/connectors/connectSortBySelector.html

[2018-02-26 12:56] kamilo81 commented on #2750
Ok I dont expect ready solution but maybe can u give me some advice / workaround how can I make that?

[2018-02-26 13:02] bobylito commented on #2748
Thanks @iapparatus for opening this issue. Even though, we haven't implemented that yet, [we have it in mind](https://github.com/algolia/instantsearch.js/issues/2130).

In the meantime, I suggest you create your own menu widget widget using the [connectMenu](https://community.algolia.com/instantsearch.js/v2/connectors/connectMenu.html). Using it you can inject the static list of values that you wa

[2018-02-26 13:10] bobylito commented on #2745
Hi @safeimuslim and thanks for opening this issue.

From [StackOverflow](https://stackoverflow.com/a/48579915/654253):

The infiniteHits has very little logic in it. Here is what I'll do:

[code]

`bindScroll` is the function that will listen to scroll position and will call the `showMore` provided. This function does not take parameters.

[2018-02-26 13:10] #2745 closed

[2018-02-26 13:11] bobylito commented on #2744
Sorry for the late answer :(

[2018-02-26 13:11] #2744 closed

[2018-02-26 13:31] bobylito commented on #2750
The infinite hits works by keeping the previous pages internally. Since you can't access these internal, the easiest would be to [have a look at the implementation](https://github.com/algolia/instantsearch.js/blob/develop/src/connectors/infinite-hits/connectInfiniteHits.js) and create a new widget based on your requirements.

[2018-02-26 15:01] bobylito commented on #2746
Hi @krishna1928 Thanks for opening this issue. From what I can see in your example it would be:

[code]

[2018-02-26 15:01] #2746 closed

[2018-02-26 17:57] safeimuslim commented on #2745
done
https://codesandbox.io/s/nnw8opozlm

[2018-02-27 00:42] mfbx9da4 opened #2752 "Configuring hitsPerPage in initialization has no effect"
**Do you want to request a *feature* or report a *bug*?**

**Bug: What is the current behavior?**
[code]

has no effect
**Bug: What is the expected behavior?**
should be 500 items in page
**Bug: What browsers are impacted? Which versions?**
all
**Bug: What is the proposed solution?**
update docs
**Feature: What is your use case for such a feature?**

**Feature: What is your proposed API entry? The

[2018-02-27 14:55] vvo commented on #2752
Can you check that you have no other hitsPerPage configured in another widget or in your url? Thanks

[2018-02-28 08:53] bobylito commented on #2752
I can't reproduce with the latest version in this example: https://codesandbox.io/s/24vkwxoo30

[2018-02-28 08:56] bobylito commented on #2731
@Braunson is there a way for you to share one example? Maybe using [surge.sh](http://surge.sh/) to share your static html page?

[2018-02-28 09:07] bobylito commented on #2740
Hi @Braunson
I'd like to be sure to understand your need here: do you want a unique identifier of the widget items that is also usable in your template for markup identifier (and it should not contain any spaces or special characters)? This identifier should be provided as part of the values provided to the values?

[2018-02-28 09:11] bobylito commented on #2747
I'll close this one for now. Thanks for your contribution @hcarreras Don't hesitate to open a new issue if you have other questions or if you want to report other shortcomings.

[2018-02-28 09:11] #2747 closed

[2018-02-28 09:13] bobylito commented on #2748
Since we already have an other issue tracking this need, I'll close this one for now. Thanks for your reporting it @iapparatus

[2018-02-28 09:13] #2748 closed

[2018-02-28 09:15] bobylito commented on #2750
@kamilo81 have you been able to do something here?

[2018-02-28 09:16] bobylito commented on #2673
@GT24--- Any luck here?

[2018-02-28 09:16] bobylito commented on #2672
@egyprotech any luck here?

[2018-02-28 09:19] bobylito commented on #2598
@mdunbavan have you been able to do anything here?

[2018-02-28 12:10] kamilo81 commented on #2750
Hi. I switched to native algolia js api. It’s easier to match my needs.

[2018-02-28 12:19] AmshaRanjani opened #2753 "Cannot fetch value from the attributeName which is in hierarchical level"
I am having a hierarchical object in json. I am using **connectMenu** to list out the catogories in a dropdown. When I give **attributeName: "taxonomies_hierarchical.category.lvl0"** i got response. But When I give **attributeName: "taxonomies_hierarchical.category.lvl1"**, the result is empty. How can I get the **lvl1** values?

[code]

[2018-02-28 14:29] bobylito commented on #2753
Hi @AmshaRanjani thanks for opening this issue. Would it be possible to get a live reproducible test case of your problem? It would help us a lot. You can do so using the [codesandbox template here](https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js).

[2018-02-28 14:44] samouss opened #2755 "Add an option for format the Pit value in the RangeSlider"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**Feature: What is your use case for such a feature?**

With the current implementation of the Slider we can format the tooltip value but not the Pit value. In some cases the computed value has a decimal but it's not always relevant (e.g. year).

![untitled](https://user-images.githubusercontent.com/6513513/36793468-c87a742c-1c9d

[2018-02-28 14:45] #2750 closed

[2018-02-28 15:23] bobylito commented on #2755
Sounds reasonable given that we already have an option for the tooltip.

[2018-02-28 16:11] GT24--- commented on #2673
Yup! I managed to get it at the end.
Sorry for the late reply!

Thanks so much!

[2018-02-28 16:11] #2673 closed

[2018-02-28 17:54] iapparatus commented on #2748
@bobylito Thanks! I was able to create the menu based on the connectMenu example. Is 'canRefine' option set to 'false' what I need to make the menu static? If so, how do I add it to this example code?

[code]

[2018-03-01 08:04] AmshaRanjani commented on #2753
Hi @bobylito thanks for your reply. Here is the link for live reproducible, live https://codesandbox.io/s/yp07y8vp6z.  when I use the **menu widget** with **attributeName : "taxonomies_hierarchical.locations.lvl0"**. I can get the values. But when give **attributeName : "taxonomies_hierarchical.locations.lvl1"** am getting empty response. At the same time am getting value for the **lvl1** attribut

[2018-03-01 16:06] AdamBCo commented on #770
@vvo Have there been updates to allow this? I know this issue was closed a year ago, so I'm not sure if someone has revisited the issue. Thanks for the help.

[2018-03-01 16:45] bobylito commented on #770
Since then, we have implemented [connectors](https://community.algolia.com/instantsearch.js/v2/connectors.html) that allows you to completely control the rendering. Here you can see an example using the [connectHits](https://community.algolia.com/instantsearch.js/v2/connectors/connectHits.html): https://codesandbox.io/s/30m61z42v5

[2018-03-02 05:25] Drakota opened #2758 "Changing state in hitComponent does not fire componentWillReceiveProps"
**Do you want to request a *feature* or report a *bug*?**
*feature?*

**Feature: What is your use case for such a feature?**
I want to change a state and be able to change hits.

**What is the version you are using? Always use the latest one before opening a bug issue.**
4.5.1

I'm trying to set the state of a variable, but if the component is passed inside Hit's hitComponent it seems like compone

[2018-03-02 05:26] #2758 closed

[2018-03-03 16:04] francoischalifour commented on #2694
Yes! What default behavior do we want? (runnable or not runnable)

Having it not runnable by default would be annoying as we'd have to update most of the guides and docs.

[2018-03-03 18:59] Braunson commented on #2731
@bobylito I had issues with surge.sh and tried to re-create it in codesandbox.io without any luck. It has to be something with Laravel Mix and it's webpack configuration or something. Since this seems to just be an issue I'm having I'll close this thread.

[2018-03-04 04:37] Haroenv commented on #2731
We still want to fix this for you! Can you make a laravel mix project we can clone?

[2018-03-05 08:41] #2697 closed

[2018-03-05 10:10] SchmidtDawid opened #2762 "hits-per-page-selector as buttons"
Hi!
I need to create 2 buttons switching between 2 values of hits per page. Is it even possible? And if yes, how to make buttons like that?

I want  to have 2 buttons. One with 24 hits per page and one with 96 hits per page. Not `<select>`.

[2018-03-05 11:34] Haroenv commented on #2762
[code]

see also the docs (especially the example at the bottom) [here](https://community.algolia.com/instantsearch.js/v2/connectors/connectHitsPerPage.html)

[2018-03-05 11:34] #2762 closed

[2018-03-05 12:52] #2680 closed

[2018-03-05 13:13] SchmidtDawid commented on #2762
Wow. Thank you so much. It works great!

[2018-03-05 14:50] SchmidtDawid opened #2763 "Too many hits and rangeSlider doesn't work properly."
Hi!
When the number of hits is above 1000 the range slider don't show proper values. I want to use default value for min and max - "automatically computed from the result set". But when there is to many hits max is set to 250. Is there any possibility to fix it? Or set limit of hits?

[2018-03-05 15:05] Haroenv commented on #2763
Hey @SchmidtDawid, can you make an example using the template please? It will be a lot simpler to debug like that!

[2018-03-05 17:24] #2694 closed

[2018-03-05 18:04] MaximeScibetta opened #2767 "Algolia Places: 'container' must point to an <input> element"
[code]

but I have this error

[2018-03-05 18:06] Haroenv commented on #2767
You should write: `container: document.getElementById('address')`.

By the way, the issues for places are here -> https://github.com/algolia/places

[2018-03-05 18:06] #2767 closed

[2018-03-05 18:07] MaximeScibetta commented on #2767
@Haroenv It's juste because I test something but initially its

[code]

[2018-03-05 18:17] MaximeScibetta commented on #2767
Then you can re-open the issue please @Haroenv

[2018-03-05 18:45] MaximeScibetta opened #2770 "Algolia Places: 'container' must point to an <input> element"
[code]

[2018-03-05 18:49] hugo-ruivo-dw opened #2771 "Provide min / max value in slider headers and footer."
It would be nice to have in the documentation some examples of the header and footer using function instead of string.

[2018-03-05 18:51] Haroenv commented on #2770
Is this in Vue? Please open the issue in algolia/places with a reproduction in for example codesanbox

[2018-03-05 18:56] MaximeScibetta commented on #2770
Yes, I try but when I init a codesanbox I've directly an error -_- ...

[2018-03-05 19:22] MaximeScibetta commented on #2770
I solved my problem with this component : https://github.com/Gomah/vue-places

[2018-03-05 19:56] Haroenv commented on #2770
Perfect!

[2018-03-05 19:56] #2770 closed

[2018-03-06 09:54] bobylito commented on #2771
Hi @hugo-ruivo-dw thanks for opening this issue.

Indeed this kind of information could be useful in the header / footer. However I'm not sure how feasible it is.

[2018-03-06 10:02] Haroenv commented on #2771
Do you mean adding the currently _selected_ minimum and maximum, or the values that you set while initialising the widget. If you mean the initialised values, you should be able to put them in a variable before writing the widget code, and use the same value, or just copy and paste the values.

[2018-03-06 10:06] hugo-ruivo-dw commented on #2771
I mean the currently selected minimum and maximum.

[2018-03-06 10:52] vvo opened #2775 "Limit option on hierarchicalMenu behaving differently with multi values for single level"
**Do you want to request a *feature* or report a *bug*?**

Bug/Unexpected behavior/Documentation

**Bug: What is the current behavior?**

Here's a demo: https://codesandbox.io/s/93ovzv79vo

When the hierarchical menu is configured with `limit 2`, we get:
![image](https://user-images.githubusercontent.com/123822/37028385-642c2ccc-2134-11e8-9246-92e44de1e9b8.png)

When the hierarchical menu is confi

[2018-03-06 10:57] SchmidtDawid commented on #2763
[code]
[code]

I realize that isn't about 1000hits. Just sometimes works sometimes not. there are screenshots with this issue. Every query has more than 1000hits (fraza means query).
https://imgur.com/gallery/Vlzga

[2018-03-06 15:02] vvo opened #2776 "Facet values starting with `-` are considered exclusions by default"
**Do you want to request a *feature* or report a *bug*?**
bug

**Bug: What is the current behavior?**
When facet values displayed in a refinement list (or menu, hierarchical menu) are starting with a dash like temperature: -80C then clicking on those values will fail because it will be understood as a facet exclusion by the Algolia engine.

Example: https://codesandbox.io/s/jpkzxoo20v

Clicking on

[2018-03-07 18:59] samouss opened #2778 "Questions about GeoSearch"
https://github.com/algolia/places/issues/453#issuecomment-371224377

cc @philmarc

[2018-03-07 19:19] samouss commented on #2778
Actually we are using the `InfoBox` in the examples. It's just that we don't use Google Maps globally, in order to avoid to load the library on all the examples. So we created a [simple wrapper](https://github.com/algolia/instantsearch.js/blob/develop/dev/app/utils/create-info-box.js) around the `InfoBox` to allow the loading of Google Maps asynchronously.

We don't support the clustering out of t

[2018-03-08 09:08] SchmidtDawid opened #2779 "Click Analytics window.aa error"
Hi. I'm trying to implement Search and Click Analytics with this tutorial:
https://www.algolia.com/doc/tutorials/getting-started/how-to-implement-analytics/#reporting-click-and-conversion-events

I added this to instantsearch:
[code]
and this:

[code]

I understand i have to create buttons with data-something and global eventlistener to catch data. But i have an error like this:

[code]

[2018-03-08 09:14] Haroenv commented on #2779
Hey @SchmidtDawid, you seem to be using both autocomplete.js and instantsearch.js through each other, can you give the complete code in a fiddle please?

[2018-03-08 09:22] SchmidtDawid commented on #2779
https://jsfiddle.net/tx7s2Lqd/1/

[2018-03-08 09:29] Haroenv commented on #2779
Don't forget to also load the library. See the README [here](https://github.com/algolia/search-insights.js) for that 👍

[2018-03-08 10:35] vvo commented on #2763
Hi @SchmidtDawid, @Haroenv forgot to give you the actual template url where you can demonstrate us the problem in a more visual and direct way.

Here it is: https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js

Using this template, show us what's the issue. Thanks!

[2018-03-08 11:59] SchmidtDawid commented on #2779
Done and it works :) Than you very much. I forgot about library :)

[2018-03-08 13:23] Haroenv commented on #2779
Perfect, enjoy the analytics!

[2018-03-08 13:23] #2779 closed

[2018-03-08 14:18] philmarc opened #2783 "Best practice to format an attribute (price) on the fly"
I have a `price` attribute in my algolia index, that is formatted in pences (cents).
When I retrieve it, I want it to be formatted in pounds, that is to say divided by 100.

Using **Laravel**, **instantsearch 2.6** and **geoSearch widget**

[code]

<em>The `@` is because I am using Laravel</em>

I know those possible options:
<ul>
<li>Create a new column in the database `price_formatted`</li>
<li>

[2018-03-08 14:20] Haroenv commented on #2783
A template should also allow a function (note that then you need to do escaping yourself and won’t be able to take advantage of Hogan without doing it yourself)

[2018-03-08 14:47] cloughy opened #2784 "ConnectRange exemple"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is: an exemple of use for connectRange.  Some exemples are available for others connectors but not this one.  Thank you for your help

[2018-03-08 14:49] SchmidtDawid opened #2785 "Click Analytics - images don't send data"
Hi. I found a weird problem.
This is my listener:

[code]

that is part of my hit template:
[code]
And the problem is:
When i click on .hit-name or div with "lalals" text. It seems work well. I got console message: `91722`
But when i click on image (.hit-image) it doesn't work. (i don't get console.log message).

[2018-03-08 15:55] Haroenv commented on #2785
Can you instead add event listeners to the elements you want:

[code]

[2018-03-08 16:14] Haroenv commented on #2784
You're right, there doesn't seem to be an example. The `rangeSlider` ([widget](https://github.com/algolia/instantsearch.js/blob/develop/src/widgets/range-slider/range-slider.js) using Rheostat) and `rangeInput` ([widget](https://github.com/algolia/instantsearch.js/blob/develop/src/widgets/range-input/range-input.js), [component](https://github.com/algolia/instantsearch.js/blob/develop/src/componen

[2018-03-08 17:23] gzzo opened #2786 "rangeSlider should support more formatting functions"
The rangeSlider should support formatting for the min/medium/max values, similar to how it formats the tooltip.

This is how timestamps look currently:
![Date example](https://i.imgur.com/IHG4xxV.png)

**Do you want to request a *feature* or report a *bug*?**
Feature

**Feature: What is your use case for such a feature?**
Handling dates.  For example, a facet of timestamps.

**Feature: What is you

[2018-03-08 17:38] philmarc commented on #2778
Thanks for the clear answers.

Here is snippet of my `infobox`, I am not sure it is the right way but it does work, if it can help someone.
[code]

**Question about Places with GeoSearch:**
I am now trying to display an _Algolia Places_ [search input](https://community.algolia.com/instantsearch.js/v2/dev-novel/?selectedStory=GeoSearch.with%20position%20from%20Places) to my `geoSearch` widget. I ga

[2018-03-08 18:20] samouss commented on #2778
Yes, you are right we should provide some links & snippets for the examples. Thanks for your feedback! For now you can find all the examples on GitHub. Here is [the code](https://github.com/algolia/instantsearch.js/blob/develop/dev/app/builtin/stories/geo-search.stories.js) for the examples about the GeoSearch widget.

I am now trying to display an _Algolia Places_ [search input](https://community

[2018-03-08 20:50] Braunson commented on #2740
@bobylito Yep exactly, I was thinking of using the `attributeName` but having a unique one that could be set would work also.

[2018-03-09 14:15] seafoox opened #2790 "Not possible to test currentRefinedValues in the live example"
The live example for the currentRefinedValues widget doesn't allow to set any refinement, and ultimatly doesn't show any active refinement

![image](https://user-images.githubusercontent.com/1101220/37211532-8718d6fc-23ac-11e8-878a-5af2b459728b.png)

[2018-03-09 14:18] seafoox opened #2791 "Add possibility to refine the current breadcrumb path"
For now the breadcrumb only shows a static path, it would be great like on Birchbox.fr  https://birchbox.fr/boutique/product-categories/corps?refinementList%5Bbrand%5D%5B0%5D=Cellu-Cup&page=0&configure%5Bfilters%5D=visible%20%3D%201
to let the users refine the navigation directly from it.

![image](https://user-images.githubusercontent.com/1101220/37211697-14f365b4-23ad-11e8-8194-1b05ea1cba05.png)

[2018-03-09 15:03] devprojectsapps opened #2792 "Laravel Webpack Instantsearchjs 2.6.* Reference Errors"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is:
We ware using Instandsearch.js with Laravel and Webpack.
We made an update via npm to instantsearch.js 2.6.*.
If we restart our Laravel Application we get Reference Errors in our JavaScript Files for Example:
ReferenceError: $ is not defined in some other JS-Files.
If we open the Page with the i

[2018-03-09 16:29] bobylito commented on #2792
Hi @devprojectsapps. Thanks for taking the time to fill in this issue. Can you give an URL where we could see the behaviour? If your app is private, you can go through the Algolia support.

[2018-03-09 16:30] bobylito commented on #2791
That's an interesting UX.

[2018-03-09 16:31] bobylito commented on #2790
Indeed :(

[2018-03-09 16:33] bobylito commented on #2786
Thanks for the feedback @gzzo This is not planned as we speak. In the mean time you could be interested in trying to implement your own slider using the [connector](https://community.algolia.com/instantsearch.js/v2/connectors/connectRange.html).

[2018-03-09 16:35] cloughy commented on #2784
thank you I might found I need there.

[2018-03-09 16:54] Haroenv commented on #2784
Perfect! Will leave open since a real example can not hurt

[2018-03-09 22:06] mswilson4040 opened #2794 "I could not find what I was looking for"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is: -- PLEASE FILL IN HERE --

I am trying to utilize instantsearch.js for something that doesn't appear to be very clear in the documentation or possible.

My use case is that I have a product catalog and using the connectors, I have refiners and a search box to get the correct results. However, wh

[2018-03-10 15:50] devprojectsapps commented on #2612
@Giovanni-Mattucci Is there a chance to get in contact with you? We are using Laravel with Laravel-mix (Webpack) and want to upgrade instantsearch.js from version 2.0.2 to 2.6.* but we are getting Reference Errors in our JS Files and we have no idea why that happens after upgrade to version 2.6.*

[2018-03-10 15:57] devprojectsapps commented on #2792
It is so strange. In our package.json i changed "instantsearch.js": "2.0.2" to "instantsearch.js": "^2.0.2". Then i made npm update. In our app.js we have:
`window.$ = require('jquery');
window.instantsearch = require('instantsearch.js');`

If i start the app we ware getting Reference Errors like "ReferenceError: $ is not defined" to this line "$(function()" in a different JS File.

If i got back

[2018-03-10 16:02] Haroenv commented on #2612
Please post a reproduction repository @devprojectsapps?

[2018-03-10 17:47] Giovanni-Mattucci commented on #2612
@devprojectsapps yes, please post reproduction repo and details of the error if you are looking for help. We would need to see what kind of JS compiling environment you have. I am using Webpack + Typescript and CommonJS modules.

[2018-03-11 13:20] Brotakuu commented on #868
Is there support for converting a `numericRefinementList` into a `numericSelector` or `menuSelector`?

For example, my widget options look like this:

[code]

[2018-03-12 06:57] bobylito commented on #868
Hi @Brotakuu. Can you describe in more details what would you like to achieve?

[2018-03-12 08:52] bobylito commented on #2792
It would help if you could at least provide us the steps to follow to reproduce your environment.

[2018-03-12 10:39] bobylito commented on #2794
Hi there @mswilson4040
Is it not possible to express that with an Algolia query. Sorry.

You could use a special facet like `__no_value__` instead of not having the attribute.

[2018-03-12 10:39] #2794 closed

[2018-03-12 11:57] devprojectsapps commented on #2792
Yes i know, the problem is that our repository is a priave project hosted on bitbucket.
Its Laravel with Webpack and Laravel-mix like this:
[Using Laravel Mix with webpack](https://scotch.io/tutorials/using-laravel-mix-with-webpack-for-all-your-assets)
We are using npm for all the node_modules packaging stuff. Thats our actual package.json:

"devDependencies": {
    "axios": "^0.15.3",
    "babel-

[2018-03-12 13:32] bobylito commented on #2792
Thanks @devprojectsapps that's gonna be helpful :)

[2018-03-12 14:44] bobylito commented on #2785
@SchmidtDawid does the solution from @Haroenv works for you?

[2018-03-12 14:50] SchmidtDawid commented on #2785
No it doesn't. But it doenst mean, it isn't correct. Maybe i do something wrong, but i found another solution. That was my mistake. The <img> tag should have data-position etc. Not <a> tag with img inside.

[2018-03-12 15:23] bobylito commented on #2785
Should I consider that issue solved then? @SchmidtDawid

[2018-03-12 15:25] bobylito commented on #2763
@SchmidtDawid What does `priceReplace` do?

[2018-03-12 15:27] bobylito commented on #2752
I can't reproduce this issue so I'm gonna close it for now. Thanks for opening an issue here 👍 . Feel free to open a new one, if need be.

[2018-03-12 15:27] #2752 closed

[2018-03-12 15:28] bobylito commented on #2684
This has been fixed and pushed on the doc.

[2018-03-12 15:28] #2684 closed

[2018-03-12 19:48] Giovanni-Mattucci opened #2809 "Disabling Query Rules - Enable/Disable with a query string parameter? enableRules=false"
**Do you want to request a *feature* or report a *bug*?**
Feature

**Feature: What is your use case for such a feature?**
Enabling or disabling the new query rules feature via a query string parameter. Nice quick way to see a back and forth comparison.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**
If you apply the query string parameter to the page's U

[2018-03-12 21:39] Haroenv commented on #2809
it should work with the searchParameters in the constructor, did you try that?

[2018-03-13 13:06] Giovanni-Mattucci commented on #2809
@Haroenv no I didn't!
That does work!
[code]
👍
Now being able to do this without code change, through an `enableRules` query parameter, would be nice.
But I could implement my own solution to enable/disable this setting though. Since it is part of the `searchParameter`, it makes it easy to do.

[2018-03-13 13:07] Giovanni-Mattucci commented on #2809
@Haroenv is that search parameter option supposed to be documented here? https://community.algolia.com/algoliasearch-helper-js/reference.html#searchparameters

[2018-03-13 14:00] Haroenv commented on #2809
It’s documented completely here https://www.algolia.com/doc/api-reference/search-api-parameters/

[2018-03-13 14:01] Haroenv commented on #2809
InstantSearch currently has custom handling of the parameters, but it needs a manual mapping for each parameter, and you’ll need a custom setup for custom parameters. This will be possible with the next version of urlSync

[2018-03-13 14:15] Giovanni-Mattucci commented on #2809
Sounds great! Looking forward to it. Any link to this upcoming urlSync that we could add to here for posterity?

[2018-03-13 14:15] #2809 closed

[2018-03-13 14:21] Haroenv commented on #2809
POC: https://github.com/algolia/instantsearch.js/pull/2636 and new branch is [feat/routing](https://github.com/algolia/instantsearch.js/tree/feat/routing). I think there's an issue somewhere too

[2018-03-13 18:24] bobylito commented on #2809
@Giovanni-Mattucci I plan to release a beta with this new routing system soon.

[2018-03-14 07:02] SchmidtDawid commented on #2763
changeing dot to coma ;)

[2018-03-14 09:54] bobylito commented on #2785
I'm closing this for now. @JonasBa you might be interested in checking this. @SchmidtDawid thanks for your help, and don't hesitate to open a new issue if need be.

[2018-03-14 09:54] #2785 closed

[2018-03-14 13:58] Haroenv opened #5186 "fill svgs with currentColor"
This can be overriden, but will make sure that a disabled button has a lighter grey icon, rather than the current black

This is mostly in case when _no_ css is loaded

[2018-03-14 14:51] Giovanni-Mattucci opened #2810 "Ability to Provide sortBy compareFunction along with defaults"
**Do you want to request a *feature* or report a *bug*?**
Feature

**Feature: What is your use case for such a feature?**
You might want to have a compare function that also still respects the `isRefined` setting for sortBy.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**
We could provide the ability to define a compareFunction, and [the various possible

[2018-03-14 15:00] bobylito commented on #2810
Thanks @Giovanni-Mattucci we will investigate.

[2018-03-14 15:01] Giovanni-Mattucci commented on #2810
@bobylito no problem, just an update, I think I'm incorrect on this bug... I'm going to update this to a feature request instead.

[2018-03-14 15:33] Giovanni-Mattucci opened #2811 "hierarchicalMenu widget sorts by isRefined if provided with sortBy compareFunction"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
Take a look at the two hirarchicalMenu Widgets I've created:
https://codesandbox.io/s/jv145lmzn9

I've created a default one, and one with a sortBy function applied.
Notice that by default isRefined is not on.
Once a sortBy function is provided, isRefined is on.

**Bug: What is the expected behavi

[2018-03-14 15:41] bobylito commented on #2811
In your example, you have actually no sort so yes it's expected that the original order order is preserved.

You should consider here that the API does not provide any information or guarantees in this case. If it appears to sorted by refined first it is just a side effect of the implementation, not something done on purpose.

I might have missed something but that's not a bug to me.

[2018-03-14 16:35] Giovanni-Mattucci commented on #2811
@bobylito ah I see, so it's just returning the data in the order returned, which I'm confusing for the "isRefined" sort.

Ok thanks sorry for the incorrect bug.

[2018-03-14 16:35] #2811 closed

[2018-03-14 16:38] bobylito commented on #2811
No worries. Keep the issues coming. There might be a bug here, but the test is not enough, that's what I wanted to highlight. If you find something please open a new issue.

[2018-03-15 10:35] Brotakuu opened #2813 "Search Operators"
Does InstantSearch support search operators such as AND and OR?

I found it in the docs, but doesn't seem to work for InstantSearch:
https://www.algolia.com/doc/guides/searching/filtering/#boolean-operators

[2018-03-15 11:13] Haroenv commented on #2813
Hey @Brotakuu, can you show what you've tried already? Search operators should work

[2018-03-15 11:50] Haroenv commented on #2730
I can finally replicate it (apparently only happened on a UMD build):

[code]

Made a PR too

[2018-03-16 09:15] #2730 closed

[2018-03-16 10:29] Haroenv opened #2816 "should configure be a connector?"
Right now `configure` is a widget which doesn't render anything, just like `analytics`.

PRO:

- easier when we split up core and widgets
- other libraries only need to handle `connectors` (not `widgetFactories`)

CON:

- this might imply there's a value in multiple "kinds" of configure
- we might need to handle `refine`

[2018-03-16 10:39] bobylito commented on #2816
Things to consider also:
 - a connector for configure (and for analytics) would be artificial because the `render` will not be used
 - in terms of semantic of the API, the connector is for widget that can be rendered. Implementing the configure as a connector, would change the semantic.

We are the implementors of the libraries so it's our burden to do the complex stuff so if having configure as w

[2018-03-16 10:43] Haroenv commented on #2816
Well I mean for users it can still have a widget too

[2018-03-16 10:47] bobylito commented on #2816
Yes :) But the connector will be exposed and with it the fact that it's special, there will be no general  rule for thinking about connectors. Now it's a no-brainer, a connector has a rendering that.

You can make a simple wrapper for faking the connector API in Vue (or angular)

[2018-03-19 12:16] iam4x commented on #2816
After working with the Configure widget, in order to have it integrated in the angular-instantsearch library I'll add my +1 to this issue.

Also, @bobylito I think we should use the `renderFn` if any provided to the widget. I can see a widget with a `debug:` option where it prints on the page the configure search parameters applied like this:

[code]

Also I think we should handle `refine` functio

[2018-03-19 13:11] SchmidtDawid commented on #2763
Hi. I can't make working template. But our problem is on production server right now.
Check it:
`https://www.aptekagemini.pl/search/st_search/natura?q=natura&hPP=24&idx=aptekagemini.pl&p=0&nR%5Bprice%5D%5B%3E%3D%5D%5B0%5D=318`
PriceSlider - Cena show ma value as 400. But there are hits with prive over 400. Can you help?

[2018-03-19 15:33] samouss opened #2828 "Add an option for control which Pit value is displayed in the RangeSlider"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**Feature: What is your use case for such a feature?**

Right now we display the values at 0, 50 and 100 percent. In some cases we might want to display more / less values in the pits. We should be able to control where & when the pits are append.

**Without control (current)**

![screen shot 2018-03-19 at 16 30 13](https://user-

[2018-03-19 15:40] Haroenv commented on #2828
related: https://github.com/algolia/instantsearch.js/pull/2277

[2018-03-19 17:42] bobylito commented on #2816
Can you consolidate your thoughts and move forward with an API? @Haroenv @iam4x

[2018-03-20 11:04] bobylito commented on #2828
@samouss can you check the PR from @Haroenv and especially give your take on this [comment](https://github.com/algolia/instantsearch.js/pull/2277#issuecomment-336159489).

[2018-03-20 11:09] bobylito commented on #2763
From what I can see here, the rangeSlider values are based on the secondary query `facetStats`. The primary query does return results that are more in-line... That's a bug in the helper. I will have a look.

[2018-03-20 12:36] bobylito commented on #2763
Ok so it's unfortunately due to a limitation in the engine. The reason is that the stats on which we rely on are computed on the 1000 first hits. In your example, we compute that on the secondary query without filters. The problem is that without filter and the limit of 1000 hits we end up with smaller values.

We could improve this behaviour by taking the overall max and mins of all the queries.

[2018-03-20 12:38] bobylito commented on #2664
Feedback has been reported. Thanks again @Meschreiber

[2018-03-20 12:38] #2664 closed

[2018-03-20 12:39] bobylito opened #5712 "FacetStats should take into account all mins and maxs of all the responses"
see https://github.com/algolia/instantsearch.js/issues/2763

Not the best solution but it would help have less inconsistent results.

[2018-03-20 19:39] Brotakuu commented on #2813
AND and OR operators in search box. I didn't find a setting to enable them in the dashboard. I tried a search such as "apple OR oranges" directly into the algolia dashboard "Browse" search box, and the operators are not enabled.

[2018-03-20 21:20] vaughn-taylor commented on #2778
@samouss -- Algolia is great and we're paying a ton of money for it. So, I don't think it's too much to have comprehensive examples all in one place with code snippets. The documentation is literally and figuratively all over the place. I'm trying to figure out how to add a geo search map to my site, and the example you provided above doesn't really fit the need. I looked on this page (https://com

[2018-03-21 07:34] Haroenv commented on #2813
I’m not sure if this is what you mean, but try putting “advancedSyntax: true” in searchParameters on the constructor. See also: https://www.algolia.com/doc/api-reference/api-parameters/advancedSyntax/

[2018-03-21 11:09] Spone opened #2832 "Idea: allow mapping for index name in URL"
Hello there,

I'm following the progress on the urlSync rewrite (#2216) and I'm wondering if you would consider the following feature.

**Do you want to request a *feature* or report a *bug*?**

Request a feature

**Feature: What is your use case for such a feature?**

I'd like to be able to map the real index name to a string. For instance, I'd like to have `&idx=experiences` instead of `&idx=Exp

[2018-03-21 12:06] samouss commented on #2778
@vaughn-taylor I'm sorry that you have some issue with the GeoSearch widget. First of all thanks for your feedbacks, indeed you are right we should have code snippets or a guide that demonstrate the usage of the widget. All the sources of the examples in [our widget showcase](https://community.algolia.com/instantsearch.js/v2/dev-novel/?selectedStory=GeoSearch.default) are available on [GitHub](htt

[2018-03-21 12:20] Haroenv commented on #2832
You'd be able to synchronise a connectSortBy to have behaviour like that, but I think I do get the use case

[2018-03-21 12:27] Haroenv opened #2833 "Using autocomplete.js as InstantSearch.js searchbox"
## copy of https://github.com/algolia/autocomplete.js/issues/216 by @SchmidtDawid

Hi i want to implement autocomplete but i can't make it work with instantsearch.
When i have 2 inputs - one is for searchBox widget and the second is for autocomplete, everything works great (but of course autocomplete doesn't have impact on hits).
But when autocomplete and searchbox pointing on same input i have an

[2018-03-21 12:28] Haroenv commented on #2833
relevant line is https://github.com/algolia/instantsearch.js/blob/c6ac146890ee1f34c644940ff7eb5a665d594048/src/widgets/search-box/search-box.js#L126

[2018-03-21 12:38] Haroenv commented on #2833
@SchmidtDawid, can you show how you wrote the widget and templates?

[2018-03-21 12:48] SchmidtDawid commented on #2833
algolia_search.js
[code]
in php template:
[code]
I cant show you our original input because it is too dynamically generated but with this input is the same issue:
[code]

[2018-03-21 13:47] bobylito commented on #2832
You will be able to do that with the new routing system, more specifically the stateMappings. See https://github.com/algolia/instantsearch.js/pull/2829 for more informations.

[2018-03-21 14:25] Haroenv commented on #2833
@SchmidtDawid, here's an example on how to combine both autocomplete an instantsearch, using connectors:

https://codesandbox.io/s/x7v977n2mz

[2018-03-21 14:26] SchmidtDawid commented on #2833
Hmm i make it work but i don't know why ;). I move this part to our header, and autocomplete start working.
[code]
But search box stop working then. i change widget container to another class of input like this:
[code]
And now work autocomplete and searching simultaneously

[2018-03-21 14:27] Haroenv commented on #2833
@SchmidtDawid did you see my comment?

[2018-03-21 14:29] SchmidtDawid commented on #2833
Yes we write comments almost in same time. I'll try your solution tomorrow because selecting autocomplete items by arrows doesn't change input value.

[2018-03-21 14:56] Josh865 opened #5398 "Allow disabling validation for range input refinements, as it sometimes leads to unintuitive UI behavior"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**Feature: What is your use case for such a feature?**
AIS automatically calculates the values for the `min` and `max` attributes of the inputs in the `RangeInputs` component. This is convenient, but sometimes causes undesired UI effects. Specifically, when refining results using a facet *after* specifying a range refinem

[2018-03-22 08:52] SchmidtDawid commented on #2833
Hi. We cant use new jquery. We still have old solutions with jquery 1.7 and some of them crashes when I use ver3.3.1. But even ignoring it for a while it doesn't work anyway, but i don't get any error.

on start I got error like "suggestionsIndex is not defined". I do somethink like that:
[code]
I don't get any errors but search and autocomplete doesn't' work.

Then i disconnect jquery 3.3.1 and c

[2018-03-22 10:02] Haroenv commented on #2833
you need to use the [query suggestions connector](https://www.algolia.com/doc/guides/analytics/query-suggestions/) to make an index to use it for the autocomplete first @SchmidtDawid. Regarding jQuery, you’ll need to change the usage yourself in `autocompleteWidget.js`

[2018-03-22 13:30] hamidm opened #2834 "Limit category list to 3 specific items"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is:
I have 10 categories onn the left side and i would like to show 3 specific categories on the left side category section. Anyidea how i can pass the list to display on the left side?
I would like to display "Beers", "cider", and "howlers" on this list only and not every category that  i have.
	/*

[2018-03-22 14:57] Haroenv commented on #2834
RefinementList has a limit: option, you can put it at 3

[2018-03-22 16:14] bobylito commented on #2834
Hi @hamidm thanks for posting this issue. When you say specific, does it mean that you already know which entries you want to display? I'd be curious to know more about your use case.

Just so that we are on the same page, widgets for facets in InstantSearch relies on the availability of the filters in the result set (the results computed in the search engine even those not displayed). This means

[2018-03-26 14:45] vaughn-taylor commented on #2778
@samouss, I appreciate your response and I may need your help. However, Algolia really MUST work on their documentation. If you are going to present pages like this: https://community.algolia.com/instantsearch.js/v2/widgets/geoSearch.html the examples on the page should be functional and link to fully executed examples. Again, my frustration comes from paying a premium price for the product, and n

[2018-03-26 15:30] bobylito commented on #2778
Hi @vaughn-taylor have you been able to update the version of InstantSearch?

A guide is coming. Thanks for your patience.

[2018-03-26 17:03] vaughn-taylor commented on #2778
@bobylito @samouss, yes I've updated to the most current version. I have a codepen here if you have time to take a look: https://codepen.io/vaughndtaylor/pen/2431919cc9a8547ab36c019add338392/?editors=1010

Basically, the idea is to have a map that is populated with the locations each provider works at. Some providers have 1 location, some have multiple, so _geoloc is an array in my data set.

[2018-03-27 08:15] bobylito opened #2835 "RFC: InfiniteHits should load previous pages"
When reloading a page with urlSync and page > 0, the infinite hits doesn't load the previous hence it doesn't reproduce the exact same state. We decided to close https://github.com/algolia/instantsearch.js/issues/2750 but we've had other users asking for it.

### Proposed API

[code]

### Behaviour

The widget is not aware of the nature of the rendering. Therefore it should check at each rendering

[2018-03-27 08:37] satishgadhave commented on #2753
Any updates on this?
I'm also facing same issue with my categories. I need to display level 2 categories in a filter as showing level 0 categories doesnt make sense when user is on level 1 page.

[2018-03-27 08:56] Haroenv commented on #2835
I prefer to have a button to load previous pages one by one rather than possibly breaking any InstantSearch site just by going to a very far a way page

[2018-03-27 11:55] bobylito commented on #2835
That's interesting. Where would the results of the previous page go?

[2018-03-27 13:45] Haroenv commented on #2835
This is not completely a reusable example, but my idea is this: https://codesandbox.io/s/q7mp2zyonw (toggle the defaultPage prop in `<App />` to see the behaviour I mean)

[2018-03-27 14:40] samouss opened #2838 "connectGeoSearch with multiple locations"
**Do you want to request a *feature* or report a *bug*?**

Feature

**Feature: What is your use case for such a feature?**

In some cases hits can have multiple locations. In that case the `_geoloc` attribute will be an array of position instead of being a single location object. Right now we only handle the case for single location.

**Feature: What is your proposed API entry? The new option to a

[2018-03-27 14:42] bobylito commented on #2835
Met with Sasha and she helped us define the problem and a plan

There is not one problem but 2:
 - When the user go to a product page and go back to the search
 - When you share your URL

Based on that we have two proposals:
 - when the browser load the URL, load n previous results and display a button on top to be able to go back on the first page "There are xxx products, see all of them"
 - when

[2018-03-27 14:49] samouss commented on #2778
Hi @vaughn-taylor thanks for the example it helps a lot to understand the issue. The first problem that cause the map to not showing up is that Google Maps requires to set a height on the element where the map will be attached. We don't provide a default value for this because it can be hard to override. By adding this line of CSS the map should be displayed.

[code]

But it will not display the r

[2018-03-27 14:53] mthuret commented on #2835
For the second proposal, does that mean that if you're use case 1 (product page then go back), your navigator will put you at a place that will not be the one you were on previously (because the previous results are not displayed?)

Not sure to get this: the two above without loading previous pages at all

[2018-03-27 15:05] sashaprok commented on #2835
We're going to test both and see what works best.

On Tue, Mar 27, 2018 at 4:53 PM, Marie-Laure Thuret <
notifications@github.com> wrote:

--

<https://www.algolia.com/>

Alexandra (Sasha) Prokhorova

Product Designer

07 69 75 89 79  <07+69+75+89+79>
<https://www.linkedin.com/in/alexandraprokhorova>

<https://www.algolia.com/>

[2018-03-27 16:39] piersb commented on #1658
@ryanmitchell I have the same issue - is there any chance that you could share some of your code and save me from reinventing the wheel?

[2018-03-27 16:43] ryanmitchell commented on #1658
@piersb - nothing to share really. We just output the refinements using SQL and then using an on change event added or removed them from the refinement list. Pretty simple stuff.

[2018-03-27 16:58] piersb commented on #1658
Ta.

[2018-03-27 19:47] vaughn-taylor commented on #2778
@samouss, I spent way too much time trying to figure this out -- this should have been in the documentation. Nearly 3 years ago (https://blog.algolia.com/geo-search-on-steroid/), Algolia touted the ability to pass an array of locations, so why is it not part of the widget?

[2018-03-28 03:41] yefeiyu opened #2840 "I could not find what I was looking for"
I used algolia deploy my blog, the "_include/algolia.html" 's code is copied from official website. (see the attachment below)
The search address is [https://yefeiyu.github.io/search/](https://yefeiyu.github.io/search/)
But it didn't show search box on Safari or Chrome of iOS 9.0 in iphone 6s plus, and didn't appear on `Conkeror` explorer. ([download](http://conkeror.org/FrontPage#Installation_and

[2018-03-28 09:14] Haroenv commented on #2840
You seem to be using `  const content = hit._highlightResult.html.value;` in your code (`hitTemplate`); but some hits don't have `html`, which causes the error to show up. You should try/catch that and instead give a default value of `""`. Can you try that?

[2018-03-28 12:20] samouss commented on #2778
You are right it should be in the documentation. We have added it in [the requirements section](https://community.algolia.com/instantsearch.js/v2/widgets/geoSearch.html#requirements) of the widget. We know that we don't cover all the use cases. But this is the first version of the geo widget. We are gathering feedback about his usage, it will help us to implement the proper features in a next vers

[2018-03-28 14:36] iam4x opened #2843 "Forward `widgetParams` to the `unmountFn` of connectors"
If we save some data, like the container node of our custom widget into `widgetParams` it would be great to have it with as param of the `unmountFn` 👍

[2018-03-28 14:37] bobylito opened #2844 "Make a strong convention for render and _render in connectors"
<img width="667" alt="screen shot 2018-03-28 at 16 35 50" src="https://user-images.githubusercontent.com/393765/38036100-3e71aa6a-32a6-11e8-8c67-32621a08bb67.png">

[2018-03-28 14:46] Haroenv commented on #2844
What's your suggestion for the convention @bobylito ?

[2018-03-28 15:33] zenmumbler commented on #2730
Thanks for fixing this, we had already changed to use another Algolia component and I completely forgot about this issue, my apologies.

[2018-03-28 15:37] Haroenv commented on #2730
Which other Algolia component do you use now @zenmumbler - just out of interest!

[2018-03-28 16:35] zenmumbler commented on #2730
@Haroenv Had to check a bit as this was a while ago, but we switched from direct use of `instantsearch.js` to `vue-instantsearch` which removed the `import "instantsearch.js"` statement from our code and made Rollup not have to resolve it (Rollup is configured with `esnext: true`). So we didn't actually change components, just the way it was imported in the app.

We now use the `ais-index` and `ai

[2018-03-28 21:03] Haroenv commented on #2730
Perfect! Thanks for Giving the info :)

[2018-03-29 02:25] yefeiyu commented on #2840
Thank you for your answer, by I didn't know how should I do, so I put my `_include/algolia.html` up, and rewrited my question.

[2018-03-29 08:18] Haroenv commented on #2840
Sorry if that wasn't clear, I meant to change that line to:

[code]

[2018-03-29 09:48] pixelastic commented on #2840
@yefeiyu Do you have any errors in the console?

[2018-03-29 16:20] bobylito commented on #2844
It's not clear in mind, which one of the `_refine` and `render` should be which implementation. And I don't think we're completly consistent accross the actual implementation.

Given that `_` denotes private elements, and that we one of the values is directly usable (because it is bound to the helper) and it will be passed to the render function, it should be this one that is without underscore. T

[2018-03-30 01:31] yefeiyu commented on #2840
I feel sad, it still has no effect
Although the address of the blog ends with "...../search/", it's still a `.html` page.
Is it the cause of the `instantsearch.js`?

[2018-03-30 07:05] yefeiyu commented on #2840
@pixelastic @Haroenv :
When I open [https://algolia.github.io](https://algolia.github.io), I found it has the same error!
Error appear on iOS 9 and `conkeror` explorer[conkeror download](http://conkeror.org/FrontPage#Installation_and_Startup)
![2018-03-30](https://user-images.githubusercontent.com/4845104/38128090-aae3bc68-33e8-11e8-9b87-fe157ca0d556.png)
![2092611494](https://user-images.githubus

[2018-03-30 07:54] Haroenv commented on #2840
Aha, that will help track down the issue, thanks!

[2018-03-30 07:55] SchmidtDawid opened #2847 "Transform data and mapping with IE 11 (little debug help needed)"
Hi! I tried force instantsearch to work with IE11. I rewrite all backticks and arrow functions, but i have some weird errors. When i comment those parts algolia starts so i hope i am close to success.

First errors is problem with transformData. My code is  like:

[code]

IE told me it expect ':' here -> 'item(item)'. I have 4 widgets with transformData and i really need it.
There is the same stor

[2018-03-30 09:10] SchmidtDawid commented on #2833
Thank you very much for helping. It helps a lot. Now autocomplete works very well :)

[2018-03-30 09:17] Haroenv commented on #2840
@yefeiyu, you're using `const` and other modern JavaScript, which isn't supported in older browsers like you're using (conkeror and iOS 9). For that you can take a look at [babel](https://babeljs.io).

Feel free to open a new issue or continue here if that didn't help :)

[2018-03-30 09:17] #2840 closed

[2018-03-30 09:17] Haroenv commented on #2833
Awesome!

[2018-03-30 09:17] #2833 closed

[2018-03-30 10:34] Sewake opened #2848 "rangeSlider bug on instantsearch v2"
Hi ! :)

I found out a bug with the rangeSlider that we can reproduce on your Tourism website example.
![image](https://user-images.githubusercontent.com/23700548/38134700-8574d17a-3414-11e8-9f28-e8c5171c7b84.png)

This problem occurs [when we change the parameters in the url](https://community.algolia.com/instantsearch.js/v2/examples/tourism/?range%5Bprice%5D=-1000%3A2200).
Note that the behaviou

[2018-03-30 12:18] Haroenv commented on #2848
Seems like this can cause an overflow too (open that link in Safari).

The decoded URL has `nR`:

[code]

Thanks for the bug report!

[2018-03-30 17:38] bobylito commented on #2848
If the problem is only about handles that can't move, we've released a new version that fixes it. It's the 2.6.3.

As for the values. Indeed the max and min values are not restricted to the values given by the API. We should probably fix that 😅

Thanks for your patience, we'll try to fix ASAP.

[2018-04-01 14:10] ramachandranv opened #2855 "React native Range slider or query between two fields"
My scenario is I would like to get results between two fields. I have experience_from and experience_to attributes. I want to get results between these two attributes. How would I implement a custom filter refinement to accomplish this.

In algolia we do something like below
res = index.search("query term", { "filters" => "experience_from >=1 AND experience_to <=3"})

I would like the above implem

[2018-04-01 19:15] Haroenv commented on #2855
@ramachandranv, you should be able to use [`connectRange`](https://community.algolia.com/react-instantsearch/connectors/connectRange.html) for this, feel free to open a new issue in https://github.com/algolia/react-instantsearch if you have more issues about this!

[2018-04-01 19:15] #2855 closed

[2018-04-02 14:23] ramachandranv opened #2856 "Range Slider & Geo search example for react native"
Could you provide a working example for rangeSlider & geo search implementation for react native

[2018-04-02 16:26] bobylito commented on #2856
Hi @ramachandranv are you using instantsearch.js or [react-instantsearch](https://community.algolia.com/react-instantsearch/)?

[2018-04-02 16:26] bobylito commented on #2848
@Sewake can you check that now you're able to drag the handles?

[2018-04-02 16:28] bobylito commented on #2813
@Brotakuu have you been able to work something out?

[2018-04-02 17:37] ramachandranv commented on #2856
Hi @bobylito I'm using [react instantsearch](https://community.algolia.com/react-instantsearch/)

[2018-04-03 07:28] Sewake commented on #2848
@bobylito We are able to drag the handles now :) Well done !

To answer the comment above, the problem was mostly about the min/max values cap. In our project we were still using v2.2.3 and we could drag the handles without any problem, so I noticed the problem only by consulting the demo site.

Thank you for your prompt response !

[2018-04-03 11:17] bobylito commented on #2848
The problem here is the definition of the proper behavior.
Is your issue visual or on the behavior side? Is the visual overflow the problem, or is it that you are setting values beyond what's in the dataset?

[2018-04-03 11:49] Sewake commented on #2848
@bobylito My problem is the visual overflow, but it's due to the fact that we try to set values beyond what's in the dataset (which isn't a problem because it doesn't actually change the hits returned by the API)

I gave 2 urls with [instantsearch v2](https://community.algolia.com/instantsearch.js/v2/examples/tourism/?q=&hPP=12&idx=airbnb&p=0&nR%5Bperson_capacity%5D%5B%3E%3D%5D%5B0%5D=1&nR%5Bprice

[2018-04-03 14:02] ramachandranv opened #2857 "clearRefinements in react native"
For react [clearRefinements](https://community.algolia.com/react-instantsearch/widgets/ClearRefinements.html) doc is given.

How to implement the same in react native?

[2018-04-03 14:32] bobylito commented on #2857
Hi @ramachandranv this is the wrong repo. You should open an issue on [react-instantsearch](https://github.com/algolia/react-instantsearch)

[2018-04-03 14:33] bobylito commented on #2856
Can you open an issue on [react-instantsearch repo](https://github.com/algolia/react-instantsearch)?

[2018-04-03 14:33] #2856 closed

[2018-04-03 14:36] ramachandranv commented on #2857
@bobylito Yup sorry.. Will do it.

[2018-04-03 14:36] #2857 closed

[2018-04-03 14:38] bobylito commented on #2857
@ramachandranv don't be :) Thanks for participating :)

[2018-04-04 02:30] perlDreamer opened #2858 "priceRanges entered as floats being truncated to integers"
**Do you want to request a *feature* or report a *bug*?**

Bug

**Bug: What is the current behavior?**

In instantsearch.js 1.11.7, the priceRanges and priceRange widgets truncate manually entered values to integers.  This makes it hard to search for small values in ranges like 0.00 to 0.50.

**Bug: What is the expected behavior?**

instantsearch.js accepts manually entered numbers as integers or

[2018-04-04 07:25] Haroenv commented on #2858
Just checked and this is behaving the same in v2 https://community.algolia.com/instantsearch.js/v2/widgets/priceRanges.html

[2018-04-04 07:54] Haroenv commented on #2858
reason is because of the missing `step` attribute, and because of the `parseInt` instead of `parseFloat`.

I made a small demo showing the behaviour currently and proposed change

https://codepen.io/Haroenv/pen/Ovwaoa

[2018-04-04 15:58] mariuslazar93 opened #2859 "Tree-shaking doesn't seem to be working with latest Webpack"
**Do you want to request a *feature* or report a *bug*?**
Bug. Repo to reproduce: https://github.com/mariuslazar93/algolia-instantsearch-test . We are only concered about the final bundle size, so just running `npm install` and `npm run build-prod` will generate a dist folder with the production files.

**Bug: What is the current behavior?**
I am trying to create a production build using Webpack 4

[2018-04-04 17:10] Haroenv commented on #2859
I've been investigating this a bit over and saw significant improvements in the bundle size.

I also noticed that when I regenerated the package-lock.json in your repo, _or_ if I used Yarn, lodash is only installed / included in the bundle once.

I'll be doing two PRs to this repo with this in mind

[2018-04-04 17:17] Haroenv commented on #2859
https://github.com/mariuslazar93/algolia-instantsearch-test/pull/1 for updating your lockfile

[2018-04-04 17:51] mariuslazar93 commented on #2859
Awesome! Thanks for your work! The size is indeed noticeable 👍

Not sure if you guys are already using the ES6 modules for **loadash** and just importing the methods that you need, but if you don't, you can make even more improvements by using [lodash-webpack-plugin](https://github.com/lodash/lodash-webpack-plugin) and [babel-plugin-lodash](https://github.com/lodash/babel-plugin-lodash) which will

[2018-04-04 18:54] Haroenv commented on #2859
We should already be doing what’s necessary there, we just use a lot of Lodash in the helper (it’s very transformation-heavy and supports older browsers), so we can’t win a lot of size easy that way. It was investigated earlier. Thanks for the suggestion though!

[2018-04-05 12:15] MrMooky opened #2862 "Allow combining in hierarchicalMenu"
Based on the v2 docs I created a menu with 1 sublevel.

![screen shot 2018-04-05 at 2 10 40 pm](https://user-images.githubusercontent.com/3603346/38365052-2a8113ca-38db-11e8-8b33-4c45bac198f2.png)

Works so far. What I'd like to accomplish now is that I can select multiple menu items together (e.g. "Experten" and "Zentren"). Is this something I can do with the current API? If so, how? I could not

[2018-04-05 12:27] MrMooky commented on #2862
That's too bad. ._. Would it be possible to define the sorting manually, though? Aside from the 4 options (count|isRefined|name:asc|name:desc)? I need this sorting: Fachbereich / Zentren / Experten / Sprechstunden

I had my PHP indexer run in this order, but as soon as the items are imported, Algolia just ignores this order.

[2018-04-05 14:01] MrMooky commented on #2862
Follow-up question here, so I don't create a new issue:

With the helper, I am setting a query manually for some items: `lotse.helper.setQuery(searchItem).search();`
Is is possible to also preselect a specific hierarchicalMenu item?

[2018-04-05 14:50] bobylito commented on #2862
You can use a function instead of an array of strings, it will let give the order of items.

Yes you can set parameters with [`toggleFacetRefinement`](https://community.algolia.com/algoliasearch-helper-js/reference.html#AlgoliaSearchHelper#toggleFacetRefinement)

[2018-04-05 14:55] #2859 closed

[2018-04-06 05:02] renovate[bot] opened #2863 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-04-06 07:12] MrMooky commented on #2862
@bobylito I tried the `toggleFacetRefinement` helper, but nothing changes. And I get no error message either. Am I doing something wrong?

`lotse.helper.toggleFacetRefinement('menu.lvl0', 'Fachbereiche');`

![screen shot 2018-04-06 at 9 12 00 am](https://user-images.githubusercontent.com/3603346/38407653-a2b47a0e-397a-11e8-9ce1-eb79a49053a6.png)

[2018-04-06 10:48] SchmidtDawid opened #2864 "Padding in Pagination stops working after update 2.3->2.6.3"
I have 2 pagination widgets on site.

[code]
Everything works well with instantsearch 2.3, but after update to 2.6.3 i got 3 padding on both widgets and cant change it. Is it bug?

[2018-04-06 10:50] Haroenv commented on #2864
might be related to #2741. The tests are still passing though, which is weird 🤔

[2018-04-06 10:52] Haroenv commented on #2864
Any version before 2.6.0 will not have this error, so you could use those as a workaround. Thanks for reporting this @SchmidtDawid !

[2018-04-06 11:00] SchmidtDawid commented on #2864
Thank you and your welcome ;)

[2018-04-06 12:13] samouss commented on #2864
We don't pass the `padding` to the connectors in the widgets.

https://github.com/algolia/instantsearch.js/blob/f5d1ab1bcd422ae8298dfd95ca8a617385025a59/src/widgets/pagination/pagination.js#L192

[2018-04-06 13:03] elasticsteve commented on #4
Is there still no "official" way to deal with this obviously essential feature? I was looking for hours through the docs and it seems like it doesn't exist. Almost unreal. In most cases people only want to search when there is an actual query! Why is there no setting for this in the configuration?

I don't understand any of the above solution right now. Also @alcalyn suggestion doesn't make sense

[2018-04-06 13:09] alcalyn commented on #4
@elasticsteve I'm using the javascript version of instant search. Here is the full code if it may help to understand how I prevent search query when search field is empty (i.e when pressing backspace):

https://github.com/eole-io/sandstone-doc/blob/7d1f4f2b71b0d09d9de77b09e3df314102a88a99/js/main.js#L34-L41

[2018-04-06 14:53] Haroenv commented on #4
Something to note: doing the initial query, even if it’s not visible will warm up the connection (dns, ssl), so that actual queries done by the user will be faster.

[2018-04-06 14:54] #2864 closed

[2018-04-06 14:58] elasticsteve commented on #4
Algolia costs money and doing queries for no reason might not be what you want, especially if you have lots of users on the platform. I'd rather make a query when the users wants to know something andnot before. That's why the solution to hide results if the query is empty is not welcome.

I'm still surprised that such a sophistacted package like instantsearch doesn't include this out of the box.

[2018-04-06 17:29] bobylito commented on #2862
Can you share a URL to your implementation? You should probably contact the Algolia support to get some help.

[2018-04-08 07:30] shramee opened #2867 "hierarchicalMenu - Let users know that a particular facet value (category) has children"
**Do you want to request a *feature* or report a *bug*?**

Feature request

**Feature: What is your use case for such a feature?**

Well, we'd really like to let our users know that particular categories have children, at the moment their seems to be no way to do it easily... Not sure it can be done even with a custom widget using `connectHierarchicalMenu` connector.

**Feature: What is your propo

[2018-04-08 19:22] borisschapira opened #2868 ""eval" in 2.6.3 requires the use of an unsafe-eval CSP directive"
First of all, thank you for your solution which is really great and quite incredible in terms of performance!

## Feature request

Remove the use of `eval` (found in `…Function("return this")()||(0,eval)("this")…` in https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.3) so that we could use a `script-src` directive in our Content Securities Policies that would not be forced to `unsafe-eval`.

## Us

[2018-04-09 06:20] omisintu opened #2869 "I could not find what I was looking for"
I want to convert price slider in Algolia Layered Navigation Filter into "Minimum &  Maximum" textboxes with +-  increment and decrement options. Gone through the documentation but cannot find a way to do that. Cannot find a way to pass minimum & maximum values for price numeric widget.

Please suggest. Any help would be much appriciated.

[2018-04-09 06:34] MrMooky commented on #2862
Unfortunately not. We signed a NDA with the project owner.

Because toggleFacetRefinement is not part of instantsearch.js? Will do.

[2018-04-09 07:00] Haroenv commented on #2868
I guess this has been added by babel or web pack. Any chance you resolved a similar thing already?

[2018-04-09 07:11] Haroenv commented on #2868
full chunk responsible is:

[code]

not sure yet which module it is

[2018-04-09 07:30] Haroenv commented on #2868
confirmed, the code in question is https://github.com/webpack/webpack/blob/fde018300aa52262c384e937c408d5dd97d62951/buildin/global.js#L9

[2018-04-09 07:42] Haroenv commented on #2868
@borisschapira note that you can still have a safe, non-breaking CSP with `strict-dynamic` which will work

[2018-04-09 07:54] Haroenv commented on #2867
See also https://github.com/algolia/instantsearch.js/issues/818 and https://github.com/algolia/instantsearch.js/pull/2638, the problem is that this would require us to do an extra query for each hierarchical item, which wouldn't be an ideal tradeoff.

[2018-04-09 12:35] bobylito commented on #2862
Well no but it would give you a safer space where you could exchange more code privately.

[2018-04-09 12:43] bobylito commented on #2869
Are you refering to the [priceRanges widget](https://community.algolia.com/instantsearch.js/v2/widgets/priceRanges.html)? If I understand correctly you want to add button to the buttons to the UI so that users can do increments of the values?

Have you had a look at the [connector](https://community.algolia.com/instantsearch.js/v2/connectors/connectPriceRanges.html)? Those are made for you to cust

[2018-04-09 18:52] ramachandranv opened #2874 "Clear Specific Filters"
Is there a way to clear specific facet filters in instant search. I would like to know the implementation of that in react native.

Or else after clear refinements how do I reset to default refinements applied initially. Because the clearRefinement actually clears default refinements applied to a facet field.

[2018-04-10 07:25] Haroenv commented on #2536
looks like this was fixed in #2675

[2018-04-10 07:25] #2536 closed

[2018-04-10 07:26] Haroenv commented on #2813
I'll close this issue since there was no response. Feel free to continue commenting or open a new issue if there's more questions though!

[2018-04-10 07:26] #2813 closed

[2018-04-10 07:28] Haroenv commented on #2546
I think this is fixed by https://github.com/algolia/algoliasearch-helper-js/pull/554 and superseded by the new URL routing feature

[2018-04-10 07:28] #2546 closed

[2018-04-10 07:30] Haroenv commented on #2816
fixed by https://github.com/algolia/instantsearch.js/pull/2839

[2018-04-10 07:30] #2816 closed

[2018-04-10 07:40] ramachandranv commented on #2874
@Haroenv I apologize again for asking in wrong window. Will post the same in react instantsearch repo.

I have a refinement as below which has defaultRefinement set
<RefinementList attribute="specialities" defaultRefinement={['foo', 'bar']} />

The clearRefinement method as implemented below
const ClearAllRefinements = ({refine, items}) => {
  return  <TouchableHighlight underlayColor="#eef0f0" on

[2018-04-10 07:42] Haroenv commented on #2874
Yes, you can use `transformItems` to filter out `specialities`

[2018-04-10 07:44] stelem opened #2875 "Possibility to toggle searchable attributes"
Hello,

i would like to ask you, if there is the possibility to toggle a searchable attribute via checkbox.

E.g. the user searches for a special "keyword" but can't find it. So he checks the box for "fulltext search" and can find a keyword by any definition.

The only solution i've found, was to index the keywords twice. Once with and without the "fulltext".

Thanks for your help.

[2018-04-10 07:58] bobylito opened #2876 "Routing: support for geosearch"
**Do you want to request a *feature* or report a *bug*?**
Feature fix

**Bug: What is the current behavior?**
The geosearch connector does not support the new routing API. We should support it.

**Bug: What is the expected behavior?**
The map should be in sync with the URL when using the routing.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**
TBD @samou

[2018-04-10 09:07] bobylito commented on #2875
Hi @stelem unfortunately [searchableAttributes](https://www.algolia.com/doc/api-reference/api-parameters/searchableAttributes/) is a setting parameter. It can't be changed with search parameters.

On the Algolia side, one way is to rely on primary / secondary with different searchableAttributes.

And then switch the index on the fly. You can use the [sortBySelector](https://community.algolia.com/i

[2018-04-10 09:07] #2875 closed

[2018-04-11 13:10] francoischalifour opened #2882 "Infer browser information when the user cannot find something on a page"
*When a user needs more information on a specific documentation page, he is offered to [open an issue](https://github.com/algolia/instantsearch.js/issues/new?title=I%20could%20not%20find%20what%20I%20was%20looking%20for&body=Hi!%20I%20have%20a%20documentation%20issue%20on%20InstantSearch.js,%20I%20could%20not%20find%20what%20I%20was%20looking%20for%20which%20is:%20--%20PLEASE%20FILL%20IN%20HERE%20

[2018-04-11 13:28] Haroenv commented on #2882
Actually the label is usually not necessary because the title is the same, however I wonder if it would work if url encoded?

[2018-04-12 15:23] fedemengo opened #2883 "Can't correctly deploy instantsearch on GitHub pages"
I have been trying to fix a problem I face when using instantsearch in my Jekyll blog hosted on GitHub-pages.

I use instantsearch with infiniteHits widgets and Travis for updating the index.

The problem is that on my machine it works fine but when I push everything on GitHub and I access my search page (https://fedemengo.github.io/search/) the search bar disappear and the whole infiniteHits layo

[2018-04-12 18:58] Haroenv commented on #2883
Did you see any errors?

[2018-04-12 19:01] fedemengo commented on #2883
None

[2018-04-12 20:09] fedemengo commented on #2883
Now I change some things and I get the error "_[Error] SyntaxError: Unexpected end of script (anonymous function) (search:1)_"

Here is the updated code https://gist.github.com/fedemengo/223a01d75765cec49e0b31cccda7b2c9

[2018-04-12 20:17] fedemengo commented on #2883
Turns out the script get somehow formatted in just one line and a comment was responsible for commenting out a good half of the script.

[2018-04-12 20:17] #2883 closed

[2018-04-13 07:50] crsw opened #2884 "Enabling routing makes Instantsearch fail in IE-11"
**Bug: Enabling routing prevents instantsearch from loading in IE-11**

**Expected the result to be similar to using urlSync: true**

**Bug only affects IE-11**

test configuration:
`var search = instantsearch({
	appId: algolia_config.appId,
	apiKey: algolia_config.apiKey,
	indexName: algolia_config.index,
	routing: true
});`

The console in IE-11 shows:
`SCRIPT438: The object does not support the

[2018-04-13 07:52] bobylito commented on #2884
Hi there,

Can you [try loading polyfill.io](https://polyfill.io/v2/docs/) polyfill?

[2018-04-13 07:59] crsw commented on #2884
loading polyfill.io solves the problem, thanks.

[2018-04-13 07:59] #2884 closed

[2018-04-13 23:20] flrrrhoffpauir opened #2887 "Multiple instantsearch indices and pagination widgets"
When using multiple instantsearch (instantsearch with multiple indices and multiple pagination widgets), only the pagination widget tied to the searchbox widget works.

I followed this example https://jsfiddle.net/j9nwpz34/

And I built this, which is similar but only 1 pagination widget works (For readability I've simplified the jsfiddle, but I have a specific use case where the results will be s

[2018-04-16 09:36] bobylito commented on #2848
Hi @Sewake Sorry for not getting back to you earlier. It's a tough question. Maybe @sashaprok you could help us on that :)

[2018-04-17 09:02] Chris2011 opened #2891 "I could not find what I was looking for - Search with result in other index"
Hi! I have a documentation issue on InstantSearch.js, I could not find how I can search in a second index, with the result of my first index.

I do a search in my first index, and I need one value from the result, to make a new search. Because I need that value as a searchAttribute -> filter, to get exactly one result from the second index. It is the ID of a dataset. I found this example: https://

[2018-04-17 09:03] Chris2011 commented on #2891
e.g. First index will show me 10 results. So now I need the value of each of those results and have to do a new search in a second index to get more data to the first result. Like a relation between two indices.

[2018-04-17 09:28] Chris2011 commented on #2891
I have a map, an input field and the hits below the input field. After the site finishes loading, it shows me the first 10 results which is the expected behaviour. Those infos are coming from one index (my first index).

Unfortunately, related infos, to each hit of the result, is coming from an other index (address data e.g.) So now I have to make a search (automatically and via input field) to th

[2018-04-17 09:30] Chris2011 commented on #2891
Yes "related info" for each hit is neede and those infos are coming from a second index. And I need to use one value (an ID) to use this id as a searchAttribute: {filters:'idColumn:myValueFromFirstIndexFromHit1'}

[2018-04-17 11:13] Haroenv opened #2893 "RFC: Menu with searchable behaviour"
# Summary

Just like `refinementList`, there are some cases in which you'd want to search within the options, even if there's only one option that can be chosen

# Basic example

[code]

# Motivation

When a list of items, where only one can be choses, is really long, it gets complicated to show all options. For that reason we added search for facet values on refinement lists. This behaviour also

[2018-04-17 12:56] martipello opened #2895 "NoClassDefFoundError jayway/jsonpath/Predicate"
just started getting this error this morning using the most recent version
java.lang.NoClassDefFoundError: Failed resolution of:
[Lcom/jayway/jsonpath/Predicate;
at com.algolia.instantsearch.utils.JSONUtils.getObjectFromJSONPath(JSONUtils.java:40)
at com.algolia.instantsearch.utils.JSONUtils.getStringFromJSONPath(JSONUtils.java:22)
at com.algolia.instantsearch.ui.views.Hits$HitsAdapter.onBindViewH

[2018-04-17 13:29] Haroenv commented on #2895
Hey @martipello, seems like you're using Java, I opened an issue for you in the correct repository, feel free to comment there: https://github.com/algolia/instantsearch-android/issues/76

[2018-04-17 13:29] #2895 closed

[2018-04-17 14:01] Haroenv opened #5187 "Menu without theme doesn't have indicator for refinement"
no theme:

<img width="253" alt="screen shot 2018-04-17 at 16 00 26" src="https://user-images.githubusercontent.com/6270048/38874492-80885cca-4258-11e8-8d29-27feb55a7b37.png">

theme:

<img width="177" alt="screen shot 2018-04-17 at 16 00 37" src="https://user-images.githubusercontent.com/6270048/38874495-84cff392-4258-11e8-9cd4-bf46a8f7ba78.png">

What if we used `strong` to indicate that somethi

[2018-04-18 01:11] Braunson commented on #2731
@Haroenv Thanks for reopening, I've been away but tried to recreate this issue in a standalone Laravel Mix project and wasn't able to so I'm closing for now. Cheers 👍

[2018-04-18 01:11] #2731 closed

[2018-04-18 07:32] Haroenv commented on #2731
Thanks for following up!

[2018-04-18 07:33] Haroenv commented on #2887
I've tried some things out, but didn't have anything that was a solution yet, sorry @flrrrhoffpauir

[2018-04-18 10:32] udewilde opened #2896 "How to get connectInfiniteHits to load from a specific page and further ?"
I am using connectInfiniteHits to show results.
When a user clicks on an item and then goes back to the search page, I would like him/her to be approximately at the same place on the search page, or at least have the same results presented.

The issue is that when the user comes back to the search page, the pagination seems to have an issue.
Say I have 7 pages of results in total
If the user was o

[2018-04-18 10:55] Haroenv commented on #2896
Hey @udewilde, could you please reopen this issue on https://github.com/algolia/react-instantsearch/issues/new, this repository is for another library. Thanks!

[2018-04-18 10:55] #2896 closed

[2018-04-18 10:59] udewilde commented on #2896
Sorry, just changed it.

[2018-04-18 13:09] Haroenv commented on #2896
no problem 😃

[2018-04-19 07:37] bobylito commented on #2891
If I understand correctly, for each result from your first index you want to do a secondary search. In that case, maybe you could use the [connector for the hits](https://community.algolia.com/instantsearch.js/v2/connectors/connectHits.html). This way you can trigger another search for each of the result.

[2018-04-19 09:14] bobylito commented on #2887
@flrrrhoffpauir

The helper contains a magic behaviour that resets the page to the first if you change any parameter. The problem comes from this behavior and because your search function in `collection` sets the query at every search, which will always reset the page to the first.

For the solution, I suggest trigger the search and give more control to your main search which in this case seems to

[2018-04-19 09:20] #2887 closed, assigned to nobody

[2018-04-19 09:28] Chris2011 commented on #2891
Yes, this is what I want. I will have a look into the connector. thx :)

[2018-04-19 09:28] bobylito commented on #2832
In order to do that, you need to implement a stateMapping that will hold the knowledge of the translation of the index names. Something like:

[code]

The code might need some real testing but that's the general idea.

[2018-04-19 09:28] #2832 closed

[2018-04-19 23:46] mfbx9da4 opened #2901 "Toggle refinement not working after facetFilters initialization"
**Do you want to request a *feature* or report a *bug*?**
bug

**Bug: What is the current behavior?**
Initial search filters

[code]
The above works as expected. Hits are filtered correctly.

However, following this clicking on one of the prefiltered toggles e.g. `is_full` does not filter the search.

Here is an example toggle filter setup

[code]

Note if I remove initial filtering from the confi

[2018-04-20 08:12] Haroenv commented on #2901
the source of that site: https://github.com/mfbx9da4/hotevents

[2018-04-23 07:14] Haroenv commented on #2205
We don’t currently have an example for it that I know of that’s more than an experiment @eyallsr, but we do confirm no major hurdles were present doing it and Alex’ earlier answer still is the correct way, although we are planning to change / make it simpler in a next minor version (see recently merged PRs)

[2018-04-23 13:25] Haroenv commented on #2891
Hey @Chris2011, did you get this to work as expected? If you're not there yet, it will be useful to put the current progress in a [sandbox](https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js) so we can take a look

[2018-04-23 13:26] bobylito commented on #2307
We've released a [new system for synchronizing the URL](https://community.algolia.com/instantsearch.js/v2/guides/routing.html) with the search that actually does that and more.

[2018-04-23 13:26] #2307 closed

[2018-04-23 13:28] bobylito commented on #2454
Fixed

[2018-04-23 13:28] #2454 closed

[2018-04-23 13:30] bobylito commented on #2172
Routing is out and let you customize the URL completely. More [information in the guide](https://community.algolia.com/instantsearch.js/v2/guides/routing.html)

[2018-04-23 13:30] #2172 closed

[2018-04-23 13:34] bobylito commented on #2862
Any news @MrMooky? Can I close this issue?

[2018-04-23 13:36] #2862 closed

[2018-04-23 13:40] bobylito commented on #2901
@mfbx9da4 you're initializing the disjunctive facets with two values. Can you try with only the strings and a single value?

[2018-04-23 13:47] Haroenv commented on #2868
This has been discussed in Webpack with the suggested solution of the `strict-dynamic` CSP directive, which is the recommended value. There's nothing we can really do except suggest a change in Webpack. If this issue is very important for you, I suggest you go into the Webpack threads and ask how you can help or how it can change there.

[2018-04-23 13:47] #2868 closed

[2018-04-23 13:49] Haroenv commented on #2776
I wonder if this is a method or option on the existing method in the Helper we could have, for example `escapeFacetValues`, in this case about things relevant for Algolia though, not about the option against XSS injection. Not sure what a better name can be and which other values need to be escaped

[2018-04-23 14:08] Chris2011 commented on #2891
@Haroenv unfortunately I didn't try it out yet. I will come back to you later :). Thx for inerests.

[2018-04-24 07:02] EyalIsr commented on #2205
@Haroenv, Thanks!
Looking forward to this version!

[2018-04-25 06:51] borisschapira commented on #2868
Ok, this would need to modify the Webpack version, and that's far beyond my reach :'(

[2018-04-25 07:55] borisschapira commented on #2868
Just to be clear for **future readers** (or ourselves in several months), changing the CSP to accept the `eval` would mean adding `unsafe-eval`. In most cases, the common security recommendation is to avoid eval() at all costs, as it can be a vector for Cross-Site Scripting attacks (if you want to know more, learn about [the `script-src` directive](https://developer.mozilla.org/en-US/docs/Web/HTTP

[2018-04-25 09:32] olance commented on #2172
Cool stuff @bobylito, thanks! 🙂

[2018-04-26 14:57] bobylito commented on #2205
@EyalIsr You can now use the new option searchClient to be able to plug a custom client. https://deploy-preview-2894--algolia-instantsearch.netlify.com/v2/instantsearch.html#struct-InstantSearchOptions-searchClient

[2018-04-26 15:01] bobylito commented on #1164
There is now a guide for customizing the no results page: https://community.algolia.com/instantsearch.js/v2/guides/no-result.html

[2018-04-26 15:01] #1164 closed

[2018-04-27 05:15] mfbx9da4 commented on #2901
Hi Still waiting on an answer. Help would be much appreciated. The site is back up. Thanks

[2018-04-30 12:55] samouss opened #2909 "connectCurrentRefinedValues should not display values min / max of connectRange"
**Do you want to request a *feature* or report a *bug*?**

BUG

**Bug: What is the current behavior?**

When we provide min / max to `RangeSlider` (aka `connectRange`) those values are displayed in `CurrentRefinedValues`(aka `connectCurrentRefinedValues`) even when the user doesn't refine.

![screen shot 2018-04-30 at 14 50 29](https://user-images.githubusercontent.com/6513513/39427920-e02904b8-4c

[2018-05-01 15:46] JoeStark110 opened #2910 "I could not find what I was looking for"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is:

I have built a custom widget using your guide. I am using a multiple select list using jquery. I am trying to refine the search results with multiple values but I am not sure how to feed the values back. Your documentation only shows how to feed a single variable. Here is a sample of what I am

[2018-05-02 06:54] Haroenv commented on #2910
Hey Joe,

Could it be possible to give the complete code you're using for this widget and put it in a sandbox (template available [here](https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js)). That would be a lot more straightforward to see what isn't behaving as you're expecting.

Thanks!

[2018-05-02 08:06] Asahro opened #2911 "setting the pagination number"
I am in use algolia and search in the documentation about pagination but i didn't find it.
can we change the default show number of pagination from 7 to be 5 ?
other than maxPages

[2018-05-02 08:54] Haroenv commented on #2911
Hey @Asahro,

You can use [`padding: 2`](https://community.algolia.com/instantsearch.js/v2/widgets/pagination.html#struct-PaginationWidgetOptions-padding) in the widget options of pagination.

[code]

[2018-05-02 08:54] #2911 closed

[2018-05-02 10:53] Asahro commented on #2911
thanks

[2018-05-02 13:50] JoeStark110 commented on #2910
I created a custom connector widget. I am trying to use a multiple selection select list. The refine functions only takes one selected value. How to do I refine on multiple selected values.

https://codesandbox.io/s/zkykknz8vp/

[2018-05-02 15:09] bobylito commented on #2910
@JoeStark110 Thanks for the example. Very helpful!

The menu behavior only refine on a single value. The behavior of `refine` in this context is to remove the previously selected value and refine the new one.

If you want to select multiple value, you should use the [connectRefinementList](https://community.algolia.com/instantsearch.js/v2/connectors/connectRefinementList.html). Its `refine` will a

[2018-05-04 11:04] mfbx9da4 commented on #2901
Using one value and only strings as suggested I get zero results.

![image](https://user-images.githubusercontent.com/1690659/39624545-a7bc940a-4f91-11e8-9367-d9d1a36a7f23.png)

Using one value and only booleans like so:
![image](https://user-images.githubusercontent.com/1690659/39624538-a265a3a2-4f91-11e8-95f7-b10f351294c2.png)

I get the following error:

![image](https://user-images.githubuserc

[2018-05-07 11:08] bobylito commented on #2901
@mfbx9da4 I've contacted you directly through the Algolia support to help us further investigate what's going on here :) I'll reopen this ticket if we find an actual bug :)

[2018-05-07 11:08] #2901 closed

[2018-05-08 07:05] Asahro opened #2915 "Delete current refined values class"
hay there,
I am trying to delete class of curent refined values thad i didn't use.
is there any way I can delete this class

<div style="">
	<div class="ais-root ais-current-refined-values">
		<div class="ais-body ais-current-refined-values--body">
			<div><div class="ais-current-refined-values--list">
				<div class="ais-current-refined-values--item">
					<a class="ais-current-refined-values--li

[2018-05-08 07:38] Haroenv commented on #2915
Why do you want to delete the class? If you don’t have any css matching it, nothing will happen having it or not having it.

[2018-05-08 07:45] Asahro commented on #2915
It a little chang in my design sir.
are you have an another way than remove it ?
no use algolia
![image](https://user-images.githubusercontent.com/24727474/39744270-e6feb8b6-52cd-11e8-8eb9-d62b20c86ad2.png)
with algolia
![image](https://user-images.githubusercontent.com/24727474/39744420-5f3fd396-52ce-11e8-8926-915198bb92b6.png)

[2018-05-08 08:11] Haroenv commented on #2915
Which css do you have on your page? Could you make this into a sandbox please? I think some other styling is conflicting with this and you should be able to override it

[2018-05-08 09:59] Asahro commented on #2915
I had search the css setting and there is nothing connected with that class sir.
its a little hard to create it to create it in the sandblock.
thank you for your comment I think will create in another design.

[2018-05-08 19:01] Haroenv commented on #2915
Feel free to ask ahead with some way for me to reproduce, unfortunately without reproduction I’m unable to figure out what’s the cause of the conflict.

[2018-05-09 05:53] Asahro opened #2916 "Uses urlSync"
sorry for my bassic question.
I am in tryin to use urlSync lin in this demo https://preview.algolia.com/instantsearch/
I had try it but it didn't work like the sample.
this my code

[code]

when I click the refi list it isn't add in url like ?dFR[refi][0]=195 and when I write the url with that the filter didn't checked. but the data has filtering. is there any worses in my code?

[2018-05-09 06:09] Asahro commented on #2915
thank you for your help^_^

[2018-05-09 07:12] Asahro commented on #2916
Its Solved,
Thank.
by the way is there any way I can change the url code

[2018-05-09 07:29] Haroenv commented on #2916
hey, to change the url in code you can use the extended usage of the `routing` parameter (replaces `urlSync`. See the [guide](https://community.algolia.com/instantsearch.js/v2/guides/routing.html) about that.

Feel free to ask more info if needed

[2018-05-09 07:29] #2916 closed

[2018-05-11 11:25] samouss opened #2917 "Easily extend connectCurrentRefinedValues"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**Feature: What is your use case for such a feature?**

Right now when a user built a custom widget that acts on a filter different than a facets or query it doesn't show up in the current refinements list (ex: `aroundLatLng`).

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

I saw two

[2018-05-11 11:36] mthuret commented on #2205
Hi @EyalIsr, I'm curious, can you tell us a bit more about what are you going to build with the usage of the `createAlgoliaClient`? Thanks :)

[2018-05-11 12:03] Haroenv commented on #2917
WidgetState should be the one shown imo

[2018-05-11 12:08] a-kolesnikova opened #2918 "How to implement such a widget with categories"
Good afternoon. Please tell me how to implement such a widget with categories. There must also be an opportunity clear current refined values.
![screenshot from 2018-05-11 14-51-23](https://user-images.githubusercontent.com/20166763/39923533-b9ca9ade-552c-11e8-8e66-1cf89d196163.png)

[2018-05-11 12:18] samouss commented on #2918
Hi, to implement the list you can use the [`RefinementList`](https://community.algolia.com/instantsearch.js/v2/widgets/refinementList.html) widget. To clear all the active refinements, you can use the [`ClearAll`](https://community.algolia.com/instantsearch.js/v2/widgets/clearAll.html) widget.

[2018-05-11 12:41] a-kolesnikova commented on #2918
Thanks for the answer. Can I implement a multi-level menu of this kind using the RefinementList widget?

[2018-05-11 13:03] samouss commented on #2918
The widget [`HierarchicalMenu`](https://community.algolia.com/instantsearch.js/v2/widgets/hierarchicalMenu.html) is designed to built such experience.

[2018-05-13 15:40] #2918 closed

[2018-05-13 19:26] dimsav opened #2920 "I could not find what I was looking for"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is: how to use the render function in the [refinementList widget](https://community.algolia.com/instantsearch.js/v2/widgets/refinementList.html#struct-Widget)

From my understanding in the docs, this is what I should do:

[code]

However the render method is never executed.

Thank you 🙂

[2018-05-13 19:37] dimsav opened #2921 "I could not find what I was looking for"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is:

If we want to display the facet filters like the picture below, how can we get the values of the widgets after each time the results are rendered?

<img width="401" alt="image 2018-05-13 at 21 34 38" src="https://user-images.githubusercontent.com/1785686/39971071-9645125e-56f5-11e8-9927-4fb71ae

[2018-05-14 08:44] Haroenv commented on #2921
You can use the [`currentRefinedValues`](https://community.algolia.com/instantsearch.js/v2/widgets/currentRefinedValues.html) widget for that!

[2018-05-14 08:46] Haroenv commented on #2920
This might be an error in the documentation. The render method is for the [connector](https://community.algolia.com/instantsearch.js/v2/guides/customization.html) of the refinement list. That documentation is available at the page for [`connectRefinementList`](https://community.algolia.com/instantsearch.js/v2/connectors/connectRefinementList.html)

[2018-05-14 16:43] #2882 closed

[2018-05-14 17:04] Spone commented on #985
Hi @vvo do you have an example of how to achieve Turbolinks compatibility with the new `router` option?

[2018-05-14 17:29] Haroenv commented on #985
Seems like we need to add `{ turbolinks: true }` as the first argument of routing, cc @bobylito

[2018-05-14 17:33] Haroenv commented on #985
@Spone, can you try:

[code]

[2018-05-15 07:14] nyazkhan opened #2923 "I could not find what I was looking for"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is: -- PLEASE FILL IN HERE --
algolia search can be done in one component.  ?

[2018-05-15 09:42] Haroenv opened #2924 "document conditional display"
This comes up often (people who want to make "autocomplete", but with InstantSearch); you can hide the results if the query is empty like this:

[code]

[code]

## Resources

* [answered on Discourse](https://discourse.algolia.com/t/how-to-begin-with-no-search-results/5151/3)
* helpscout: `575931335`
* [slack](https://algolia.slack.com/archives/C2XP6HBKQ/p1526327403000674)

[2018-05-15 09:51] dimsav commented on #2921
Thank you @Haroenv :-)

[2018-05-15 09:52] #2921 closed

[2018-05-15 11:14] Spone commented on #985
@Haroenv it seems to work perfectly! Thanks

[2018-05-15 11:48] Spone opened #2925 "Add documentation on how to use routing with hierarchicalMenu"
**Do you want to request a *feature* or report a *bug*?**

It's related to documentation

**Feature: What is your use case for such a feature?**

I'm having trouble implementing `stateMapping` for a hierarchicalMenu.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

Could you add an example for mapping a hierarchicalMenu state? Maybe on this page? https:/

[2018-05-15 15:54] Haroenv commented on #985
Yes, or maybe we could make it an option to add this by default?

[2018-05-15 15:58] bobylito commented on #985
It's a rather specific use case and the fix is very small, I don't know if there is a strong benefit to have an option 🤔

[2018-05-15 16:11] Spone commented on #985
But `turbolinks=true` appears in the URL query string when I do that. Can I hide it?

Also, it would be great to have at least a few lines of documentation about this `turbolinks` options. It seems to be black magic :D

[2018-05-15 17:51] nyazkhan commented on #2923
@bobylito  sir I'm trying to connect algolia search with angular 2 project in a single component
but in the documentation
(https://community.algolia.com/instantsearch.js/v2/guides/angular-integration.html#refining-even-further)
there are 3 component hitComponent, searchComponent, and refineComponent
it can be possible to convert these three components into a single component..?

[2018-05-15 19:38] Spone commented on #2925
It seems to work with:

[code]

Here is my widget:

[code]

Is it what I'm supposed to do? I'm confused to only use `filter_category.lvl0` in the `stateMapping`...

[2018-05-16 08:39] bobylito commented on #985
Ok. Do you have an error? Maybe the problem is that the default parseURL function can't parse it back.

[2018-05-16 13:39] bobylito opened #2927 "Decouple transformations from template"
When using the hits template, we have two transformations/templates that can't be used together: item and allItems. For example if you use an item template, you can't use the allItems transformation.

The user can't know why it doesn't work, therefore we should make sure that this is possible.

However the problem is that the transformation is backed into the template component. If the transformat

[2018-05-16 13:41] bobylito commented on #2925
Yes that's the proper way to do it. Where would you search for such information?

[2018-05-16 13:51] Spone commented on #2925
Thanks. As I said it would make sense to add it to https://community.algolia.com/instantsearch.js/v2/guides/routing.html and/or maybe to https://community.algolia.com/instantsearch.js/v2/widgets/hierarchicalMenu.html

[2018-05-16 13:59] Haroenv commented on #2927
Would also be useful for the other InstantSearch flavours!

[2018-05-16 14:01] bobylito commented on #2927
Yes indeed that would help with the standardization of the InstantSearch API over the different projects.

[2018-05-16 14:39] iam4x opened #2928 "duplicated inifinite hits with slow network"
**Describe the bug 🐛**
When using the infinite hits widget on a slow network, clicking `show more` button may load duplicated hits.

**To Reproduce 🔍**
Steps to reproduce the behavior:
1. Go to https://community.algolia.com/instantsearch.js/v2/dev-novel/?selectedStory=InfiniteHits.default
2. Force your network settings to a slow network (example 3G)
3. Click on "Show more"
4. Scroll down to the hi

[2018-05-17 14:53] netscasy opened #2930 "Can we use the HierarchicalMenu from an inner page?"
The hierarchicalMenu from an inner page gives a category url which is relative to the current page instead of the homepage. Those links obviously do not work. Can the hierarchicalMenu be placed on an inner page?

[2018-05-17 15:34] netscasy commented on #2930
rootLevel I understand is to do with the hierachicalLevel rendering. My issue as follows.
I have an implementation of instant search on the home page. A hierarchicalMenu with two levels which aggregates the total number of results and links pointing to the respective aggregated results is present on the homepage. On this page, the instantsearch works as expected.
 i.e. If http://example.com is the

[2018-05-17 16:55] netscasy commented on #2930
Couldn't figure it out. Wish there was more info in the documentation.

[2018-05-17 21:03] dereknelson opened #2931 "Error: requiring unknown module "undefined" when app does not have internet"
**Describe the bug 🐛**
When the app is disconnected from any network, trying to import anything from `react-instantsearch/connectors` results in the app crashing with the following error message:

**To Reproduce 🔍**

1. Import anything from `react-instantsearch/connectors`
2. Disconnect device from internet
3. Crash

**Expected behavior 💭**
The app not to crash when using algolia's functions witho

[2018-05-18 08:00] Haroenv commented on #2931
Is this with React Native? Which version of RN are you using?

[2018-05-18 08:06] bobylito opened #2933 "clearAllURL should be a function in connectCurrentRefinedValues"
clearAllURL is documented as a function but is actually a string. We will fix that in the doc so that we are consistent and do not break the current implementations (next minor). But for consistency with createUrl, it should be a function (next major).

Maybe we should update the name in this case, or think about changing the signature of the createURL function:
 - `createURL() => url with everyth

[2018-05-18 08:10] Haroenv commented on #2931
could you also give a reproduction @dereknelson ?

[2018-05-18 09:42] Asahro opened #2934 "Filter by time"
in my index has field contain time (yyyymmdd)
example( 20180518 )
can i filter the data by the time, example in one week from now  ( 20180518 - 20180525 ) using refinementList like this.

![image](https://user-images.githubusercontent.com/24727474/40228069-720eb5de-5aba-11e8-9232-a7d8ce0bc826.png)

[2018-05-18 10:42] bobylito commented on #2934
The best way to handle this is format your data as numeric. [This guide](https://community.algolia.com/instantsearch.js/v2/guides/calendar-widget.html) should give you some elements to get started.

[2018-05-21 09:09] mahdi-gh1373 opened #2936 "clear searchbox button doesn't work !"
I have two instantsearch like this and  create one search box to search both of of them together.

[code]

when I want to clear search box the button works for **product** but it doesn't clear value for **shop**.
it seems that shop query doesn't work. what should I do ?

[2018-05-22 06:27] mahdi-gh1373 commented on #2936
any help ?

[2018-05-22 13:11] bobylito commented on #2901
Here are two samples I've made:
- [reproducing the original issue](http://workable-camera.surge.sh/)
- [with the issue fixed](http://cut-song.surge.sh/)

In order to fix the issue, you need to only use a single value for the filter and use the string form of the value like so:

[code]

[2018-05-22 13:42] bobylito commented on #2936
Hi there,

You can't reuse the same searchbox for two instances of InstantSearch. If you want to synchronize two InstantSearch together, you can follow [this example](https://jsfiddle.net/j9nwpz34/27/).

[2018-05-22 13:42] #2936 closed

[2018-05-22 13:43] #2934 closed

[2018-05-22 14:21] bobylito commented on #2930
Are you using the routing system?

[2018-05-22 14:31] bobylito commented on #2928
Render is called if there are new results and if the search is stalled.  There are no checks in the implementation that prevents this new rendering: https://github.com/algolia/instantsearch.js/blob/develop/src/connectors/infinite-hits/connectInfiniteHits.js#L105-L133 (This is a working hypothesis for now, I will double check)

[2018-05-22 14:34] bobylito commented on #2923
Not really. Why would you need to merge the three components?

[2018-05-22 14:43] bobylito commented on #2319
This is live on the website https://community.algolia.com/instantsearch.js/v2/guides/calendar-widget.html (thanks to @francoischalifour)

[2018-05-22 14:43] #2319 closed

[2018-05-22 14:44] bobylito commented on #2322
It's not gonna be documented.

[2018-05-22 14:44] #2322 closed

[2018-05-22 14:46] bobylito commented on #2339
Now that we have a `searchClient` that can be passed to the paremeters, we could have a setSearchClient to update the client? (since that's the client that holds the credentials on Algolia, maybe that could be a good solution?). cc @algolia/instantsearch-for-websites

[2018-05-22 22:30] dereknelson commented on #2931
@Haroenv working on a repro, here's a relevant screenshot: http://prntscr.com/jlcnzl

[2018-05-23 05:54] Haroenv commented on #2931
Seems indeed that it’s related to that specific version of React Native and something that can be fixed by using a different. Version

[2018-05-23 07:40] mahdi-gh1373 opened #2937 "Can I have custom reset button for searchbox?"
I need custom reset button to reset my searchbox. How can I have that?  I want write my own button for that.

[2018-05-23 07:50] samouss commented on #2937
You can use the `reset` option on the `SearchBox`. You can specify a custom template for this. You can find more informations about that [in our documentation](https://community.algolia.com/instantsearch.js/v2/widgets/searchBox.html#struct-SearchBoxResetOption).

[2018-05-23 08:10] mahdi-gh1373 commented on #2937
Thanks @samouss , Is there any way that another button trigger reset ?

[2018-05-23 08:14] JanPetr opened #2938 "Instant search with infinite scroll repeats records"
**Describe the bug 🐛**
Instant search page with infinite scroll enabled, repeats records/products randomly after 4-5 pages

**To Reproduce 🔍**
Go to https://community.algolia.com/instantsearch.js/v2/dev-novel/?selectedStory=InfiniteHits.default
Click on "show more" button 4 to 5 times and observe the results loaded. You should see that some products have repeated.

**Expected behavior 💭**
Records/

[2018-05-23 08:53] mahdi-gh1373 commented on #2936
Thanks @bobylito , I write my code like this but I get error :

    at InstantSearch.searchFunction [as _searchFunction] (search.js:53)
    at AlgoliaSearchHelper.helper.search (instantsearch.js:13075)
    at InstantSearch.start (instantsearch.js:13089)
    at search.js:423

my code :
[code]

What should I do now?

[2018-05-23 10:45] bobylito commented on #2936
The helper in instantsearch is initialized after the start and the searchFunction is triggered during the start. Therefore, given the code you showed, you should start `searchProduct` before `searchShop`.

[2018-05-23 11:41] Haroenv commented on #2937
You can use the `connectSearchBox` connector if you want to customise it even further, or use the `clearAll` widget with `clearsQuery: true`

[2018-05-23 12:08] bobylito commented on #2938
Hi @JanPetr  I think this is a duplicate of #2928. Can you check if you have latency in your requests?

[2018-05-23 14:09] Haroenv commented on #2339
Seems possible, but not sure if that's the best API we can find

[2018-05-23 14:40] francoischalifour commented on #2339
A `setSearchClient()` method could also allow to change the endpoint depending on external events, it'd be quite powerful.

[2018-05-23 16:16] Haroenv commented on #2339
I agree about that, but it just seems odd to only allow updating of a search client, and none of the other parameters of `instantsearch()`, I'd rather have a fluid API for all of those use cases

[2018-05-23 18:11] netscasy commented on #2930
@bobylito Laravel routing is used. Tried getting a redirect from the controller, grabbing the query string. But the hierarchicalMenu links when clicked doesn't get propagated as an HTTP request, even though the link shows up in the address bar.

[2018-05-24 06:37] mahdi-gh1373 commented on #2937
thanks @Haroenv  I will check that.

[2018-05-24 06:37] #2937 closed

[2018-05-24 06:38] mahdi-gh1373 commented on #2936
Thanks @bobylito It's working now.

[2018-05-24 07:52] Haroenv commented on #2930
Would it be possible to create a reproduction with both of the routing systems in place? That would help in debugging

[2018-05-24 08:30] hilkeros opened #2940 "setting bottom price for dynamic price ranges"
Hi! I have a documentation issue on InstantSearch.js, I could not find what I was looking for which is: -- PLEASE FILL IN HERE --

I understand that the price ranges in the price ranges widget are set dynamically. However, this can give a rather ugly bottom price, especially because we are basically a high price range shop. But we have less expensive products too.

It would be cool to set 50 as th

[2018-05-24 10:13] netscasy commented on #2930
@Haroenv You can check it at http://bit.ly/2IGwVsG

[2018-05-25 16:41] bobylito commented on #2940
Have you tried the [numeric refinement list](https://community.algolia.com/instantsearch.js/v2/widgets/numericRefinementList.html)?

[2018-05-28 09:03] #2928 closed

[2018-05-29 03:07] bobylito commented on #2938
@JanPetr Can you try with the latest InstantSearch.js (2.7.5)?

[2018-05-29 03:11] bobylito commented on #2920
I'm not sure how we can help here. Closing this for now.

[2018-05-29 03:11] #2920 closed

[2018-05-29 03:32] bobylito commented on #2810
With the current implementation, it is not possible for us to provide such a feature. That being said, the combination of multiple sorts inside a single compare function is doable:

[code]

[2018-05-29 03:32] #2810 closed

[2018-05-29 03:35] bobylito commented on #2791
It could be an excellent candidate for a labs experiment cc @mthuret

[2018-05-29 03:38] bobylito commented on #2790
We've added a link to the "story book" on every page. It's at the top of the page: https://community.algolia.com/instantsearch.js/v2/widgets/currentRefinedValues.html#live

[2018-05-29 03:38] #2790 closed

[2018-05-29 04:43] bobylito commented on #2609
For now, we don't generate beta changelog anymore.

[2018-05-29 04:43] #2609 closed

[2018-05-29 05:17] bobylito commented on #2339
It's a work in progress :) We've added the means to update the widgets. @Haroenv

Can you tell us more about a fluid API? Do you have something in mind already? :)

[2018-05-29 06:46] Haroenv commented on #2791
I don’t really understand what’s meant; a curated hierarchical menu?

[2018-05-29 09:17] #2543 closed

[2018-05-29 12:02] devprojectsapps commented on #2792
Hi.
Has something already happened in this case?

[2018-05-29 12:33] iam4x opened #2949 "Implement `transformItems` API on widgets"
On every other InstantSearch flavours widgets have a simple API to perform any operation on the items before they are renderer. (ex: sort, map, ...)

From React-InstantSearch documentation:

[code]

[2018-05-29 12:42] pixelastic opened #2950 "[menu widget] Documentation defines two different templates key"
**Describe the bug 🐛**
The current documentation defines two `templates` options, one is of type `MenuTemplate` and the other is `MenuShowMoreTemplate`. I seems that the second one should actually be `showMore.templates` and not just `.templates`.

![image](https://user-images.githubusercontent.com/283419/40659158-b5b7ee0e-634d-11e8-899e-5a3427601f7b.png)

**To Reproduce 🔍**
Visible on https://com

[2018-05-29 12:53] pixelastic opened #2951 "[menu widget] Documentation of templates.item seems outdated"
**Describe the bug 🐛**
The documentation for the `templates.item` of the Menu widget does not reflect the actual code.
![image](https://user-images.githubusercontent.com/283419/40659914-ebd9cc8a-634f-11e8-89fe-105d85ac7f30.png)

I understand this as accepting either a string template, or a function taking three arguments (name, count and isRefined). The next line actually adds a fourth argument, `

[2018-05-29 14:16] Haroenv commented on #2951
Should be changed here:

https://github.com/algolia/instantsearch.js/blob/6872001447ef57b743c1e8f3b8278a8c946b6ebb/src/widgets/menu/menu.js#L104

[2018-05-30 09:55] #2313 closed

[2018-05-30 14:06] mahdi-gh33 opened #2956 "How I can filer by tags ?"
I have a record like this :
[code]
I want to show all of tag values to user and after user click on them filter my result base on that.
How can I do that?

[2018-05-30 14:12] #2956 closed, assigned to nobody

[2018-05-30 14:13] bobylito commented on #2940
@hilkeros does this widget answers your need?

[2018-05-30 14:14] bobylito commented on #2931
What's the status here @Haroenv ?

[2018-05-30 14:16] bobylito commented on #2930
@netscasy can you provide us a way to see a reproduction of this issue in a live environment? Otherwise we won't be able to address it.

[2018-05-30 15:02] Haroenv commented on #2931
This should be fixed in React Native. If an upgrade or downgrade of the RN/ metro bundler version you're using doesn't fix it, please open a new issue with reproduction on [react-instantsearch](https://github.com/algolia/react-instantsearch/issues/new)

[2018-05-30 15:02] #2931 closed

[2018-05-31 20:19] aaronbushnell opened #2958 "Ability to make InstantSearch a controlled component and use searchState props without mounting other components"
**Is your feature request related to a problem? Please describe 🙏**
There are times I'd like to make the `<InstantSearch />` component controlled and it reads as if you can do so [based on the Search state guide](https://community.algolia.com/react-instantsearch/guide/Search_state.html).

However, you can't arbitrarily pass state to the `<InstantSearch />` component without also mounting a true (o

[2018-05-31 20:51] aaronbushnell commented on #2958
Sorry! Posted this in the wrong project. Moved to algolia/react-instantsearch#1291

[2018-05-31 20:51] #2958 closed

[2018-06-01 10:05] codetopixels opened #2960 "Field value for cssClasses Item"
Hi! I have a documentation issue on InstantSearch.js. I could not find what I was looking for on the page "[refinementList](https://community.algolia.com/instantsearch.js/v2/widgets/refinementList.html)".

Is it possible to get the field value and assign this to the "item" cssClasses?

So for example;
 cssClasses: {
      list: 'nav nav-list',
      count: 'badge pull-right',
      active: 'active

[2018-06-01 11:15] hilkeros commented on #2940
Hi Alex

Sorry for the long wait. I tried it out and it seems to be a good solution.
Thanks!

2018-05-30 16:13 GMT+02:00 Alex S <notifications@github.com>:

[2018-06-01 12:28] bobylito commented on #2940
Thanks @hilkeros Happy coding :)

[2018-06-01 12:28] #2940 closed

[2018-06-01 12:32] bobylito commented on #2960
Unfortunately this is not possible. I will our product team know about it :) Thanks for your contribution.

[2018-06-01 12:32] #2960 closed

[2018-06-01 12:32] Haroenv commented on #2388
I think that this is fixed now. Please open a new issue if you have issues regarding wrong aliasing of React

[2018-06-01 12:32] #2388 closed

[2018-06-04 06:46] neeteshpersonal opened #2983 "Question on the page "searchBox""
Hi! I have a documentation issue on InstantSearch.js. I could not find what I was looking for on the page "[searchBox](https://community.algolia.com/instantsearch.js/v2/widgets/searchBox.html)".

Hello, I am new to algolia and even with instant search.
I have a question for you, I am trying to filter out results based on the radius(35miles) around some point (latitude and longitude). I am trying t

[2018-06-04 09:57] neeteshpersonal commented on #2983
Thanks, It works. I want to ask one more thing that how can i configure aroundLatLng dynamically. I want that if user input text(address) into input field then I want to convert into lat, lng and want to configure it accordingly. Please suggest me how to configure it dynamically on every time user searches.

[2018-06-04 10:15] bobylito commented on #2983
The logic for transforming an address into geo coordinates is done by a geo coder. Algolia provides such a solution and it's called [Algolia Places](https://community.algolia.com/places/). This solution comes with a [widget for InstantSearch.js](https://community.algolia.com/places/examples.html#instantsearchjs).

If you want to use another service, you'll have to [make your own integration with a

[2018-06-04 10:41] daveiglu opened #2985 "Question on the page "instantsearch""
Hi! I have a documentation issue on InstantSearch.js. I could not find what I was looking for on the page "[instantsearch](https://community.algolia.com/instantsearch.js/v2/instantsearch.html

I am trying to automatically re-run the search only if the first attempt produces no results - trying to remove some applied refinements.
I understand that the only event raised from the search is "render" b

[2018-06-04 12:12] chrisjohnstone commented on #2266
Is it possible to set an offset value to trigger showing more results before hitting the bottom of the page?

Altering this part of the code seems to break the expected operation.

[code]

[2018-06-04 12:28] Haroenv commented on #2266
[code]

That works: https://jsfiddle.net/vw53u259/3/

Please open a new issue if you have any other questions 👍

[2018-06-04 12:28] #2266 closed

[2018-06-04 12:29] neeteshpersonal commented on #2983
Thanks, custom widget helped me.

[2018-06-05 10:33] neeteshpersonal opened #2991 "Question on the page "hits""
Hi! I have a documentation issue on InstantSearch.js. I could not find what I was looking for on the page "[hits](https://community.algolia.com/instantsearch.js/v2/widgets/hits.html)".

I am using hit-template for results, but i am unable to apply condition. If record does not contain profile_image then my view gets disturb. How to use image thumbnail if profile_image does not exist.
Hits widget:

[2018-06-05 11:05] Haroenv commented on #2991
Could you post your complete template please @neeteshpersonal ?

[code]

this should work AFAICT, but to really help, a complete template is necessary

[2018-06-05 11:27] neeteshpersonal commented on #2991
Thanks for the reply, now I am using the custom widget for the condition. And it works for me.
Any alternate way is always welcome.

[2018-06-05 12:40] pixelastic opened #2992 "Hiding the pagination if there is only one page"
**Is your feature request related to a problem? Please describe 🙏**
I'd like to hide the pagination when there is only one page of results. In that context, the pagination only adds clutter without meaningful interaction.

**Describe the solution you'd like 🤔**
Ideally I think a custom way of auto-hiding the container of widgets could be useful. I saw it was discussed already, and I think it might

[2018-06-06 09:39] francoischalifour opened #5198 "Allow more flexible dependencies"
The way we fetch the correct library version for each template right now is defined by the [`libraryName` property on each template configuration](https://github.com/algolia/create-instantsearch-app/blob/6e674b707223b5bf5097205e17b7e52cefbfcfda/templates/InstantSearch.js/.template.js#L5). Then, we [fetch the library versions](https://github.com/algolia/create-instantsearch-app/blob/6e674b707223b5b

[2018-06-06 13:36] Haroenv commented on #2991
Nice to hear you got it solved. My previous comment should be another way of solving it.

[2018-06-06 13:36] #2991 closed

[2018-06-06 16:16] bobylito commented on #2985
Hi @daveiglu

Indeed from the InstantSearch perspective there is only the `render` event. Underneath, however there are other events managed by the [JS Helper](https://community.algolia.com/algoliasearch-helper-js/). For example, there is [an event where new results](https://community.algolia.com/algoliasearch-helper-js/reference.html#AlgoliaSearchHelper#event:result) are received:

[code]

[2018-06-06 21:53] mahdi-gh1373 opened #2995 "How use custom Query for filter facet ?"
I want to have my filter list and when I click on one of them query the facet . Is there any way to do that ?
I have a refinementlist that list my facets but I need another menu to query into facets.

[2018-06-07 07:49] Haroenv commented on #2995
Hey @mahdi-gh1373 do you mean [`searchForFacetValues: true`](https://community.algolia.com/instantsearch.js/v2/widgets/refinementList.html#struct-RefinementListWidgetOptions-searchForFacetValues)? I'm not sure if I completely understand the use case you had in mind. Maybe a small diagram would do wonders?

[2018-06-07 07:49] Haroenv commented on #2985
Perfect, feel free to open a new issue if you have any other questions!

[2018-06-07 07:49] #2985 closed

[2018-06-07 08:05] bobylito commented on #2992
Yes it is still doable. The widgets structure is mostly the same theses days.

[2018-06-07 08:12] mahdi-gh1373 commented on #2995
Hi @Haroenv ,
![12](https://user-images.githubusercontent.com/9510009/41086688-08e3f3e4-6a50-11e8-90f6-1397a8d2bc61.png)
I have a nav menu like this. each of SubCat items are my facets.I want to filter my result when I click on each of them.

[2018-06-07 08:29] Haroenv commented on #2995
For that you can make your own version of a [hierarchical menu](https://community.algolia.com/instantsearch.js/v2/widgets/hierarchicalMenu.html) using [`connectHierarchicalMenu`](https://community.algolia.com/instantsearch.js/v2/connectors/connectHierarchicalMenu.html). Read more about how to use the connectors in [this guide](https://community.algolia.com/instantsearch.js/v2/connectors.html)

[2018-06-07 18:19] ardeleanr opened #2996 "getFacetValues returns null"
Hi,
I'm writing in regards to an issue I faced with the instantsearch and after spending days on trying to solve the problem I still can't get my head around it, maybe I missed something from the documentation.

Basically I want to build some dropdowns on a homepage with the data coming from algolia, and when the user clicks on a search button send him to a results page.

Let me explain you my pro

[2018-06-08 08:50] bobylito opened #2997 "Reset of the searchbox in slow network"
**Describe the bug 🐛**
In slow network, the use input in the searchbox is reset if the user type before the search is started.

It seeems to be related to https://github.com/algolia/instantsearch.js/blob/c6ac146890ee1f34c644940ff7eb5a665d594048/src/widgets/search-box/search-box.js#L75-L77

This only happens on IE11.

**To Reproduce 🔍**
Steps to reproduce the behavior:
1. Go to https://community.al

[2018-06-08 09:04] Haroenv commented on #2997
🤔 Do you know why we initially even had that event?

[2018-06-08 09:21] bobylito commented on #2997
To handle BFCache... I need to investigate further. It might be unrelated.

[2018-06-08 10:16] pixelastic commented on #2992
Thanks,

This behavior is something I'd like to integrate as the default for all TalkSearch integrations. In order to limit the amount of custom code TalkSearch users will need to add to their page, I see two ways:

1. Create my own `talksearch.paginationWidget` that creates a regular pagination widget but overwrites the `.render` method with its own wrapper as discussed above.
2. Add the feature

[2018-06-08 11:57] bobylito commented on #2997
It is very hard to reproduce. I could reproduce it a few times and now I can't. Because I don't feel confident in testing that any changes in the codebase would fix the behavior. If someone can reproduce that confidently then we can test if removing the BFcache related code will actually fix the issue.

The code is here https://github.com/algolia/instantsearch.js/tree/fix/2997

[2018-06-08 12:09] bobylito commented on #2992
Hi @pixelastic thanks for your feedback. Your bug actually raised a lot of questions on our side. Since we are working on the new major version of InstantSearch.js, we're exploring a new API that could also contain the ability to change the condition that hides the widgets.

In the mean time, shipping your own widget is probably the most straightforward.

[2018-06-08 12:28] pixelastic commented on #2992
Thanks! I'll do that then. Let me know if there's any way I could help you with the new API.

[2018-06-08 12:33] bobylito opened #2998 "Provide a recipe for using turbolinks and the routing"
**Is your feature request related to a problem? Please describe 🙏**
Turbolinks is a tech that simulates SPA on traditional websites. The URLSync was compatible, the routing is not.

**Describe the solution you'd like 🤔**
No clear solution for now but the routing should be compatible and we should document how to implement it.

**Additional context**
This is a follow up of https://github.com/algoli

[2018-06-08 12:33] bobylito commented on #985
Closing this issue in favor of https://github.com/algolia/instantsearch.js/issues/2998

[2018-06-08 12:33] #985 closed

[2018-06-08 12:39] bobylito commented on #2258
This is not in the roadmap for the moment. Let's close that for now.

[2018-06-08 12:39] #2258 closed

[2018-06-08 12:44] bobylito commented on #2441
Not important.

[2018-06-08 12:44] #2441 closed

[2018-06-08 12:47] ggrlmon commented on #2996
Hi @bobylito,

I was more or less expecting to get a confirmation like this, I just hoped there was a way to achieve this.
I got it working with changing the way the objects are structured in algolia.

Something like this:
"footballTeams": [
	"FCB:Barcelona",
	"RMA:Real Madrid",
	"JUV:Torino Juventus"
]

But to be honest I believe this approach is a bit rigid and I can't really think of a better s

[2018-06-08 12:49] bobylito commented on #2996
Indeed that's a solution I've suggested in the past. It's rigid, but you master the data so it should be cool. On the other hand, it will be weird if you try to use search for facet values and make a search in those facets. Why do you need the code for?

[2018-06-08 12:55] bobylito commented on #2598
No update since the last question. Closing this for now.

[2018-06-08 12:55] #2598 closed

[2018-06-08 12:57] ggrlmon commented on #2996
I need the codes from the facets because we need to call another page that takes the codes as parameters

[2018-06-08 12:58] ggrlmon commented on #2996
Not if the product is a international product

[2018-06-08 13:05] bobylito commented on #2996
Ok makes sense.

[2018-06-08 14:35] Spone commented on #2998
So I got it working in our project, but I have to leave the `turbolinks=true` param in the URL, or it doesn't work. I'd love to find a way to hide it and keep my routing clean :)

You can view the live implementation here: https://www.woom.fr/recherche/experiences?q=test&turbolinks=true

[2018-06-08 14:37] bobylito commented on #2998
Thanks a lot @Spone for the status update 👍 :)

[2018-06-08 14:52] bobylito commented on #2938
@JanPetr confirmed he can't reproduce it anymore so let's close that :)

[2018-06-08 14:52] #2938 closed

[2018-06-09 03:03] mayeco commented on #2998
ping

[2018-06-10 11:47] mojtaba-ramezani commented on #1001
confounded

[2018-06-11 10:37] mahdi-gh1373 commented on #2995
Thanks @Haroenv  I will check that.

[2018-06-11 10:37] #2995 closed

[2018-06-11 11:49] bobylito opened #3001 "Fix demos for IE11"
**Describe the bug 🐛**
Demos do not work on IE11 and the solution we provide is not good enough (using polyfill.io)

However a user offered us a solution: everything is detailed in this [post](https://discourse.algolia.com/t/no-search-result-with-ie11-solved/5391).

Let's fix that.

[2018-06-11 21:26] spindriftwebs opened #3002 "Instantsearchjs v2 natural sort facets"
I have an issue where I am displaying a list of values in a hierarchical menu. The values are for example:

5ft
5ft 1 Inch
5ft 2 Inches
5ft 10 Inches

However, the sort order in incorrect as I am getting:

5ft
5ft 1 Inch
5ft 10 Inches
5ft 2 Inches

I have this existing sort function:

sortBy: function(a, b) {
return parseInt(a.name, 10) - parseInt(b.name, 10);
},

However, this is not sorting natu

[2018-06-11 21:47] vvo commented on #3002
Hi Guy, this repository is for bugs only, I did reply to you on discourse though. Thanks!

[2018-06-11 21:47] #3002 closed

[2018-06-13 08:56] bobylito commented on #2446
Doc will be moved out of this project. Closing it.

[2018-06-13 08:56] #2446 closed

[2018-06-13 09:02] bobylito commented on #2474
As far as I understand, this is done. Please re-open if something was missed :) (or even better create a new issue :))

[2018-06-13 09:02] #2474 closed

[2018-06-13 09:27] mahdi-gh1373 opened #3003 "Restrict search hits base on one field"
I want to know how I can restrict hits to doesn't show if `isConfirmed` equal to zero
How I can do that?

[2018-06-13 09:36] Haroenv commented on #3003
Hey @mahdi-gh1373,

[code]

Configure is a widget you can use to add arbitrary filters to the search without displaying it in any way.

Please reopen if that wasn't what you expected

[2018-06-13 09:36] #3003 closed

[2018-06-14 08:51] SchmidtDawid opened #3004 "Analytics IP filter"
Is it possible to filter IP's from analytics?
We don't want to collect data from our workers.

[2018-06-14 09:00] Haroenv commented on #3004
You can add `analytics: false` to the searchParameters if you know it's a certain user that shouldn't be counted.

See [the doc](https://www.algolia.com/doc/api-reference/api-parameters/analytics/?language=javascript).

For more general questions you can contact support@algolia.com :)

[2018-06-14 09:00] #3004 closed

[2018-06-15 09:43] patilvarsh commented on #2753
i have uploaded file in algolia dashboard n get the appid, apikey,indexname while im puting that in search.js n i wrote the code for category as
search.addWidget(
  instantsearch.widgets.hierarchicalMenu({
      container: '#hierarchical-categories',
      attributes: [
        'hierarchicalCategories.lvl0',
        'hierarchicalCategories.lvl1',
        'hierarchicalCategories.lvl2',
      ],

[2018-06-15 12:56] Haroenv commented on #2753
Are your attributes set up as `attributesForFaceting` @patilvarsh ?

[2018-06-15 13:04] patilvarsh commented on #2753
yes

[2018-06-15 13:12] patilvarsh commented on #2753
yes

[2018-06-15 13:30] Haroenv commented on #2753
Can you make an example on CodeSandbox please, there's a template [here](http://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js)

[2018-06-15 13:36] patilvarsh commented on #2753
Ok

[2018-06-15 13:45] patilvarsh commented on #2753
we are getting following error,
Unhandled Rejection (AlgoliaSearchJSONPScriptErrorError)
<script> unable to load due to an `error` event on it

[2018-06-15 13:45] patilvarsh commented on #2753
we are unable to get list from our index file uploaded on dashboard

[2018-06-15 13:53] Haroenv commented on #2753
Can you send an email to support@algolia.com @patilvarsh?

[2018-06-15 13:57] patilvarsh commented on #2753
On Fri, Jun 15, 2018 at 7:23 PM, Haroen Viaene <notifications@github.com>
wrote:

﻿
Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 2013
VisualStudioVersion = 12.0.40629.0
MinimumVisualStudioVersion = 10.0.40219.1
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "test1", "test1\test1.csproj", "{AB3CC99A-C5B7-430E-BF03-A0D2B3D1CA76}"
EndProject
Global
	GlobalSection(S

[2018-06-16 10:50] sjelfull commented on #868
@bobylito I'm looking for the same. Basically, we want to show `numericRefinementList` as a `select` instead of a list of radio buttons.

[2018-06-16 12:11] Haroenv commented on #868
@sjelfull you can use `connectNumericRefinementList` and make it into a select. I’m on my phone now but the example in the documentation is exactly that, but you just need to change the DOM tags.

[2018-06-18 11:47] bobylito commented on #3001
@cforbesywam is it a problem that occurs when you are using polyfill.io?

[2018-06-18 17:45] cforbesywam commented on #3001
No I believe it is an issue related to instantsearch using Promises which IE11 does not support.  polyfill.io would be one way of fixing the issue.  I'm sorry I haven't done a lot of digging into this.  I only know that if I try to use the 'searchFunction' to do a multi index search it generates the 'Promise' error in IE11 but it doesn't do it in Chrome.  IE11 is fine as long as I don't use the 's

[2018-06-20 09:09] mdunbavan opened #3008 "soryBySelector is not sorting entries on the Front end."
I have setup a replica indice in Algolia dashboard as per what has been written on the algolia documentation.

![screen shot 2018-06-20 at 10 04 54](https://user-images.githubusercontent.com/671281/41648664-76114a40-7471-11e8-9774-f1ec1d3e4254.png)

On seeing the filter/sort in the frontend I go to click filter on Price high or price low and nothing happens, I have even checked the console and not

[2018-06-20 10:44] Haroenv commented on #3008
I can see requests being done, is the sort by different in the dashboard if you go to the different indices?

[2018-06-20 11:05] mdunbavan commented on #3008
Hmm really @Haroenv

[2018-06-20 11:08] Haroenv commented on #3008
Would it be possible to make a minimal reproduction in CodeSandbox and give access to your index for Algolia employees on your dashboard? Will be useful in finding what's going on here.

[2018-06-20 11:09] mdunbavan commented on #3008
Would it be possibly because the value we are sorting by is a string not an integer?

[2018-06-20 11:10] mdunbavan commented on #3008
![screen shot 2018-06-20 at 12 09 54](https://user-images.githubusercontent.com/671281/41654916-e2482042-7482-11e8-928e-14e05037b354.png)

[2018-06-20 11:14] Haroenv commented on #3008
Yes, to be able to sort on numbers it definitely needs to be a  number, otherwise the sorting is alphabetical

[2018-06-20 11:16] mdunbavan commented on #3008
Ah crap is there a way I can transform that data in the dashboard of Algolia or do I need to reupload all indexes?

[2018-06-20 11:35] Haroenv commented on #3008
Unfortunately there's no way to change that in the dashboard :(

[2018-06-20 11:44] patilvarsh commented on #2753
hi @ Haroenv thanks for your support i put my code on sandbox editor plz heap me to bring the data into hierarchical-categories
https://codesandbox.io/s/mz31972vjy

[2018-06-20 13:01] patilvarsh commented on #2753
hello anyone have solution for this

[2018-06-20 13:49] Haroenv commented on #2753
could you send an email to support please @patilvarsh, the bug tracker is for bugs, not for support. One thing that could be going wrong is the fact that you might not have not set it up as attributes for faceting.

The hierarchical menu widget is used to create a navigation based on a hierarchy of facet attributes.

It is commonly used for categories with subcategories.

All attributes (lvl0, lvl

[2018-06-20 14:08] patilvarsh commented on #2753
yup i set all this there are 3 levels category 1, category 2,category 3 when click on category 1 it splits after that i click on category 2 it should be show the category 3 product in hit area but it shows we didnt find any result for search.

[2018-06-20 14:09] patilvarsh commented on #2753
![image](https://user-images.githubusercontent.com/40292377/41663654-91843dd2-74c1-11e8-94ba-4c25d71f5746.png)
4c25d71f5746.png)

[2018-06-20 14:15] patilvarsh commented on #2753
![img1](https://user-images.githubusercontent.com/40292377/41664041-71ed51ce-74c2-11e8-84ce-800a5d0d7356.png)
![img2](https://user-images.githubusercontent.com/40292377/41664045-7340faf8-74c2-11e8-8172-154a83602a8b.png)
![img3](https://user-images.githubusercontent.com/40292377/41664063-7bb3f668-74c2-11e8-8722-f5860b019cdf.png)

[2018-06-20 14:18] patilvarsh commented on #2753
![img1](https://user-images.githubusercontent.com/40292377/41664124-9bf9c326-74c2-11e8-92ad-3544a8714423.png)

category1 :Accessories & fluids

![img2](https://user-images.githubusercontent.com/40292377/41664173-b70ff702-74c2-11e8-8d1a-5dd4f20d00e1.png)

 category 2:saftey product

when i click "saftey product" this will show in hit
![img3](https://user-images.githubusercontent.com/40292377/416642

[2018-06-20 14:20] Haroenv commented on #2753
I can't help based on screenshots, can you please send an email to support@algolia.com with the code relevant?

[2018-06-20 14:36] patilvarsh commented on #2753
yes i sent mail to support@algolia.com

[2018-06-20 15:35] mdunbavan commented on #3008
@Haroenv so I've changed the numbers to be integers like so:

![screen shot 2018-06-20 at 16 32 55](https://user-images.githubusercontent.com/671281/41668607-9e01779c-74a7-11e8-9196-e761e3741812.png)

I've added the correct attribute to sortBy in the Ranking for the main indice but in the replicas it does not seem to order/reorder by price here

![screen shot 2018-06-20 at 16 34 09](https://user-i

[2018-06-20 16:23] Haroenv commented on #3008
So looking at the requests it seems like they are actually completely correct (different results), but it doesn't update visually. What does your `hit` code look like? I guess it's custom.

[2018-06-21 08:18] Asahro opened #3009 "Cannot Open Second hierarchicalMenu"
I am trying to use this function but its did'nt work well,
I don't know why,it always show blank data themplate when i click the second layer hierarchicalMenu.
this my index
![image](https://user-images.githubusercontent.com/24727474/41706497-39b27c0e-7566-11e8-9dad-5029d08e93e0.png)
my code
![image](https://user-images.githubusercontent.com/24727474/41706579-58aa8700-7566-11e8-8636-07c00ce013e0.p

[2018-06-22 14:51] bobylito commented on #3001
Actually we only support IE11 through the use of a polyfill, and we recommend polyfill.io.

[2018-06-22 18:29] cforbesywam commented on #3001
Ok - Thank you - polyfill.io works correctly as does instantsearch using a searchfunction in IE11 when polyfill.io is loaded.

[2018-06-27 14:10] #2732 closed

[2018-06-28 08:21] SchmidtDawid opened #3015 "Missing last hit"
**Describe the bug 🐛**
Sometimes after search last page is empty. For example i got 145 hits, 24 hits per page. It is 24*6+1. On last page should be 1 hit but its 0.

**To Reproduce 🔍**
Steps to reproduce the behavior:
1. search
2. go to last page
3. page is emtpy

**Expected behavior 💭**
1 hit on last page
**Screenshots 🖥**
https://imgur.com/gallery/37DERj3
Edit:
another query with this bug:
http

[2018-06-28 09:02] bobylito commented on #3015
Thanks for opening this issue.

What happens if you deactivate the query rule?

[2018-06-28 09:10] SchmidtDawid commented on #3015
After remove QR we've got 6 full pages (144 hits instead 145).

[2018-06-28 11:39] nicogominet opened #3016 "Question on the page "rangeSlider""
Hi,
I have a documentation issue on InstantSearch.js. I could not find what I was looking for on the page "[rangeSlider](https://community.algolia.com/instantsearch.js/v2/widgets/rangeSlider.html)".

I believe it is not possible to do a numeric filtering on an object key value for which I have a `rangeSlider`. Let's say this is the document stored in algolia:
[code]
`price > 20` works perfectly, b